html {
    scroll-behavior: smooth;
}

*,
li,
ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.container {
    width: 100%;
    padding: 0;
}

.header {
    width: 100%;
    transition: all 0.5s;
}

.header.affix {
    position: fixed;
    width: 100%;
    z-index: 99;
    top: -70px;
    box-shadow: 0 0 2px 5px rgb(0 0 0/5%);
}

@media screen and (max-width:1200px) {
    .header.affix {
        top: 0;
    }
}

.top_box {
    width: 100%;
    height: 70px;
    background-color: #0e0e0e;
}

.top_box_center {
    max-width: 1200px;
    padding: 5px 0 5px 0;
    margin: 0 auto;
    overflow: hidden;
}

.top_box_center_left {
    width: 20%;
    height: 60px;
    display: inline;
    color: white;
    font-size: 13px;
}

.top_box_center_right {
    width: 200px;
    float: right;
    margin-top: 20px;
    overflow: hidden;
}

.top_box_center_right .input-group input {
    height: 28px;
    font-size: 13px;
    color: #666;
    border-radius: 0;
    border: 0;

}

.top_box_center_right .input-group span {
    height: 28px;
    width: 40px;
    text-align: center;
    overflow: hidden;
    position: relative;
}

.top_box_center_right .input-group span button {
    height: 30px;
    width: 40px;
    background-color: #7271c8;
    color: white;
    font-size: 18px;
    border-radius: 0;
    border: 0;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
}

.top_box_center_right .input-group span button:active,
.top_box_center_right .input-group span button:focus,
.top_box_center_right .input-group span button:hover {
    background-color: #7271c8;
    color: white;
    outline: 0;
}

.ML_navbar {
    width: 100%;
    background-color: white;
}

@media screen and (max-width:1200px) {
    .ML_navbar .navbar-toggle {
        display: block;
    }

    .ML_navbar .navbar-header {
        float: none;
        width: 100%;
    }

    #bs-example-navbar-collapse-1 {
        display: none !important;
    }

    .ML_logo {
        text-align: center;
        padding: 0 64px;
    }

    .header .top_box {
        display: none;
    }
}

@media screen and (max-width:767px) {
    .mod3_box_main .td_top {
        max-width: 100% !important;
        width: auto !important;
        display: block;
        margin: 0 auto 0.5em !important;
    }

    .mod3_box_main .td_top {
        text-align: center;
    }

    .mod3_box_main table {
        width: 100%;
    }
}

/* @media screen and (max-width:992px){
    .ML_navbar .navbar-toggle{
        display: block;
    }
    #bs-example-navbar-collapse-1{
        display: none !important;
    }
    .ML_navbar .navbar-header{
        float: none;
    }
    .ML_logo{
        text-align: center;
        padding: 0 64px;
    }
}
@media screen and (max-width:768px){
    .ML_navbar .navbar-toggle{
        display: block;
    }
    #bs-example-navbar-collapse-1{
        display: none !important;
    }
    .ML_logo{
        text-align: center;
        padding: 0 64px;
    }
} */
.ML_navbar .navbar {
    max-width: 1200px;
    margin: 0 auto;
    border: 0;
}
.col_right{
    display: none;
}

.ML_navbar .collapsed,
.ML_navbar .navbar-toggle {
    float: left;
    margin: 22px 22px;
}

.ML_navbar .collapsed span,
.ML_navbar .navbar-toggle span {
    background-color: #333;
    height: 6px;
    width: 36px;
    border-radius: 2px;
}

.ML_navbar .collapsed span:active {
    background-color: #333;
}

.ML_navbar .navbar .container {
    height: 110px;
}

.ML_navbar .navbar .container .navbar-header a {
    display: block;
    height: 100px;
    padding: 5px 0 5px 0;
    line-height: 100px;
}

.ML_navbar .navbar .container .navbar-header a img {
    max-height: 100px;
    max-width: 100%;
}

.ML_navbar .navbar .container .collapse .navbar-nav {
    display: inline-block;
    height: 100px;
    margin: 5px 0 5px 0;
    box-sizing: border-box;
}

.ML_navbar .navbar .container .collapse .navbar-nav>li {
    position: relative;
}

.ML_navbar .navbar .container .collapse .navbar-nav>li:hover>a {
    color: #7271c8;
    background: transparent;
}

.ML_navbar .navbar .container .collapse .navbar-nav>li a {
    line-height: 100px;
    text-align: center;
    padding: 0;
    margin: 0 23px 0 23px;
    font-size: 17px;
    color: #373734;
}

.ML_navbar .navbar .container .collapse .navbar-nav>.active>a {
    color: #7271c8;
}

.ML_navbar .navbar .container .collapse .navbar-nav>li .submenu {
    padding: 10px 0 10px 0;
    border-top: 2px solid #7271c8;
    background-color: #fff;
    box-shadow: 0 0 2px rgb(0 0 0 / 10%);
    display: none;
}

.ML_navbar .navbar .container .collapse .navbar-nav>li:hover .submenu {
    display: block;
    position: absolute;
    left: -18px;
    z-index: 1;
}

.ML_navbar .navbar .container .collapse .navbar-nav>li .submenu div {
    display: inline-block;
}

.ML_navbar .navbar .container .collapse .navbar-nav>li .submenu div a {
    display: block;
    width: 151px;
    line-height: 35px;
    padding: 0 10px;
    font-size: 14px;
    text-decoration: none;
    margin: 0;
}

.ML_navbar .navbar .container .collapse .navbar-nav>li .submenu div a:hover {
    background-color: #eee;
    color: #7271c8;
}

.main {
    box-sizing: border-box;
}

.ML_banner {
    width: 100%;
}

.ML_banner .carousel {
    position: relative;

}

.ML_banner .carousel .carousel-indicators li {
    border: 1px solid #b7b7b7;
    margin-right: 5px;
    height: 14px;
    width: 14px;
}

.ML_banner .carousel .carousel-indicators li:active,
.ML_banner .carousel .carousel-indicators li:focus,
.ML_banner .carousel .carousel-indicators li:hover {
    border: -3px slide #7271c8;
}

.mod2 {
    max-width: 100%;
    height: 595px;
    background: #fff;
    overflow: hidden;
}

.mod2_background_white {
    background: white !important;
}

.mod2 a:hover {
    text-decoration: none;
}

.mod2_top,
.mod5_top {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

.mod2_top_text,
.mod5_top_text {
    position: relative;
}

.mod2_top_text::before,
.mod4_top_text::before,
.mod5_top_text::before {
    position: absolute;
    content: "";
    top: 50%;
    width: 1500px;
    height: 1.5px;
    background-color: #e2e1e1;
    right: 62%;
}

.mod2_top_text::after,
.mod4_top_text::after,
.mod5_top_text::after {
    position: absolute;
    content: "";
    top: 50%;
    width: 1500px;
    height: 1.5px;
    background-color: #e2e1e1;
    left: 62%;
}

.mod2_top_text h2,
.mod4_top_text h2,
.mod5_top_text h2 {
    color: #333;
    font-size: 26px;
    font-weight: bold;
    margin-top: 38px;
}

.mod2_top_text+p,
.mod4_top+p,
.mod5_top_text+p {
    color: #888;
    font-size: 15px;
    margin-top: 18px;
    padding-bottom: 20px;
}

.mod2 .mod2_middle,
.mod2 .mod2_bottom {
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
}

.mod2_middle_table {
    width: 100%;
    background-color: #fff;
    box-sizing: border-box;
    border: 1px solid #ececec;
    table-layout: fixed;
    border-spacing: 0;
    border-collapse: collapse;
}

.mod2_middle_table .table_box {
    width: 100%;
    background-color: #ececec;
    text-align: center;
}

.mod2 .table_box_img {
    overflow: hidden;
    padding-top: 0;
}

.mod2 .table_box_img:hover {
    transform: scale(1.1);
    transition: all 0.5s;
}

.mod2 .table_div {
    width: auto;
    height: 40px;
}

.mod2 .table_box_img img {
    max-width: 100%;
    vertical-align: middle;
}

.mod2 .table_box_text {
    color: #333;
}

.mod2 .table_box_text p {
    padding-top: 10px;
    padding-bottom: 12px;
    line-height: 21px;
    font-size: 14px;
    margin: 0;
}

.mod3 {
    background: url("../images/mod3.2.jpg") no-repeat center;
    background-position: center top !important;
    padding-top: 106px;
    height: 100%;
}

.mod3_box {
    max-width: 1200px;
    max-height: 100%;
    margin: 0 auto;
    padding: 6px;
    border: 1px solid #e2e1e1;
    position: relative;
}

/* .mod3_box_bg{
    position: absolute;
    top: 6px;
    left: 6px;
    right: 6px;
    bottom: 6px;
    background: #ececec;
    opacity: 1;
    z-index: 3;
} */
.mod3_box_main {
    max-width: 1186px;
    height: 100%;
    box-sizing: border-box;
}

.mod3_box_main .td_top {
    background-color: #ececec;
}

.mod3_box_main_left {
    max-width: 578px;
    max-height: 368px;
    display: inline-block;
}

.mod3_box_main_left img {
    max-width: 100%;
    max-height: 100%;
}

.mod3_box_main_right {
    /* max-width: 608px; */
    max-height: 368px;
    padding-left: 15px;
    background-color: #ececec;
    float: right;
}

.mod3_box_main_right_text {
    padding-left: 60px;
    margin-top: 38px;
    padding-right: 50px;
}

.mod3_box_main_right_text span {
    font-size: 26px;
    font-weight: 700;
}

.mod3_box_main_right_text h2 {
    font-size: 14px;
    font-weight: 400;
    margin: 0;
    margin-bottom: 25px;
}

.mod3_box_text {
    font-size: 14px;
    color: #666;
    line-height: 1.8;
    margin-bottom: 30px;
}

.mod3_box_text+a {
    display: inline-block;
    color: #7b4eeb;
    margin-top: 10px;
    margin-bottom: 100px;
}

.mod4 {
    width: 100%;
    background: #f4f4f4;
    overflow: hidden;
}

.mod4_main {
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}

.mod4_main_content {
    max-width: 1200px;
    max-height: 100%;
    padding: 20px 0;
}

.mod4_main_one {
    height: 60px;
}

.mod4_top {
    text-align: center;
}

.mod4_top_text {
    position: relative;

}

.mod4_main_three {
    height: 13px;
}

.mod4_main_four .col_table,
.mod4_main_five .col_table {
    margin: 0 -15px;
}

@media screen and (max-width:768px) {
    .col_table td {
        width: 50% !important;
        float: left;
        display: block;
        margin-bottom: 14px;
    }

    .mod4_main_content {
        padding: 20px 14px;
    }
}

.mod4_main_four .col_table table,
.mod4_main_five .col_table table {
    width: 100%;
    height: 423.2px;
}

.mod4_main_four .div-padding,
.mod4_main_five .div-padding {
    padding: 0 15px;
}

.mod4_main_four_content {
    background: #fff;
    text-align: center;
    padding: 35px 20px 15px;
}

.mod4_img {
    text-align: left;
    margin-bottom: 20px;
}

.mod4_img img {
    max-width: 100%;
    vertical-align: middle;
}

.mod4_main_four_content p {
    margin: 0 0 10px;
    color: rgb(102, 102, 102);
    text-align: left;
    line-height: normal;
}

.mod4_main_four_content p>span {
    color: #000;
}

.mod4_main_four_content p span strong {
    font-weight: bold;
}

.mod4_main_four_content .p_text span {
    font-size: 12px;
    color: rgb(102, 102, 102);
}

.mod4_main_four_content .p_text-2 span {
    font-size: 14px;
}

.mod4_main_six,
.mod5_main_six {
    max-width: 100%;
    margin-bottom: 20px;
}

.mod4_main_six_div1,
.mod5_main_six_div1 {
    text-align: center;
}

.mod4_main_six_div2,
.mod5_main_six_div2 {

    display: inline-block;
    padding: 10.5px 49px;
    border: 1px solid #ccc;
}

.mod4_main_six_div2:hover,
.mod4_main_six_div2:hover span,
.mod5_main_six_div2:hover,
.mod5_main_six_div2:hover span {
    color: white;
    background-color: #7271c8;
    border-color: #7271c8;
}

.mod4_main_six span,
.mod5_main_six span {
    color: #666;
    text-align: center;
}

.mod5 {
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;
}

.mod5_content {
    max-width: 1200px;
    max-height: 100%;
    margin: 0 auto;
}

.mod5_main {
    max-width: 1200px;
    padding-bottom: 20px;
}

.mod5_div {
    height: 45px;
}

.mod5_div2 {
    height: 25px;
}

.mod5_main_midde {
    max-width: 1200px;
    max-height: 100%;
}

.mod5_midde_box {
    margin: 0 -27px;
    max-height: 100%;
}

.mod5_midde_box ul {
    list-style: none;
    margin: 0;
    max-height: 100%;
}

.mod5_midde_box ul li {
    width: 33.3%;
    margin-left: 0;
    margin-right: 0;
    float: left;
    margin-bottom: 20px;
}

@media screen and (max-width:767px) {
    .mod5_midde_box ul li {
        min-width: 50%;
        margin-bottom: 14px;
    }

    .dis_none {
        display: block !important;
        width: 100%;
    }

    .mod5_item {
        margin: 0 auto !important;
    }
}

.mod5_item {
    border: 0;
    margin: 0 27px;
}

.mod5_item_img {
    max-width: 363.95px;
    max-height: 242.64px;
    overflow: hidden;
}

.mod5_item_img img {
    position: relative;
    max-width: 377.585px;
    top: 0;
}

.mod5_item_img img:hover {
    transform: scale(1.05);
    transition: all 0.5s;
}

.mod5_item_text {
    padding: 21px 0 7px 0;
}

.mod5_item_text_a {
    font-size: 18px;
    font-weight: normal;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-break: keep-all;
    overflow: hidden;
}

.mod5_item_text_a+div {
    color: #999;
    font-size: 14px;
    line-height: 23px;
    margin-top: 7px;
    height: 44px;
}

.mod5_item_text_a a {
    color: #333;
    text-decoration: none;
}

.mod5_item_text_a a:hover {
    color: #2b3b62;
    text-decoration: underline;
}

.mod5 .mod5_img {
    width: 432.397px;
    max-width: 432.397px;
    left: -34.1985px;
    top: 0px;
}

.mod6 {
    max-width: 100%;
    height: 482px;
    overflow: hidden;
    background-color: #f4f4f4;
}

.mod6_div {
    height: 12px;
}

.mod6_content {
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}

.mod6_main {
    height: 280px;
    overflow: hidden;
}

.mod6_main ul {
    padding: 0;
}

.mod6_main ul>li {
    height: 35px;
    line-height: 35px;
}

.mod6_item {
    overflow: hidden;
}

.mod6_item_text {
    float: left;
    max-width: 75%;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-break: keep-all;
    overflow: hidden;
}

.mod6_item_text a:nth-of-type(1) {
    color: #565656;
}

.mod6_item_text a:nth-of-type(2) {
    color: #333;
    font-weight: 400;
}

.mod6_item_text a:hover {
    color: #2B3B62;
}

.mod6_date {
    float: right;
    width: 24%;
    text-align: right;
    overflow: hidden;
    color: #666;
}

.mod7 {
    width: 100%;
    max-height: 100%;
    overflow: hidden;
    background-color: #f4f4f4;
}

.mod7_div {
    height: 30px;
}

.mod7_div1 {
    height: 10px;
}

.mod7_content {
    max-width: 1200px;
    margin: 0 auto;
}

.mod7_content ul {
    max-height: 516px;
}

.mod7_content ul li {
    width: 14.28%;
    max-height: 129px;
    float: left;
    text-align: center;
}

@media only screen and (min-width:768px) and (max-width:960px) {
    .mod7_content ul li {
        min-width: 33.33%;
    }
}

@media only screen and (min-width:480px) and (max-width:767px) {
    .mod7_content ul li {
        min-width: 50%;
    }
}

@media screen and (max-width:480px) {
    .mod7_content ul li {
        min-width: 50%;
    }
}

.mod7_img {
    background-color: #fff;
    position: relative;
    overflow: hidden;
    z-index: 1;
    height: 129px;
}

.mod7_img-div {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.mod7_img-div img {
    position: absolute;
    width: 100%;
    height: 67%;
    left: 0;
    top: 16%;
}

.mod7_img-div img:hover {
    transform: scale(1.1);
    transition: all 0.5s;
}

.mod7_div2 {
    height: 85px;
}

.footer {
    width: 100%;
    height: 100%;
    background: #292929;
    color: #a4a4a4;
    font-size: 13px;
}

.footer_in {
    max-width: 1200px;
    height: 350px;
    margin: 0 auto;
}

.footer_in .in_box {
    width: 100%;
    position: relative;
    padding: 10px 0 20px 0;
    margin: 0 -15px;
}

.footer_in .in_box .box_frist {
    width: 100%;
    height: 240px;
}

.footer_in .in_box .box_frist .box_frist_table {
    table-layout: fixed;
    width: 100%;
    margin-right: -15px;
}

.td_top {
    vertical-align: top !important;
}

.footer_in .in_box .box_frist .box_frist_table .tr_td_div {
    padding: 0 15px;
    margin-top: 30px;
}

.footer_in .in_box .box_frist .box_frist_table .tr_td_div table {
    width: 100%;
}

.footer_in .in_box .box_frist .box_frist_table .td_div {
    padding: 0 10px;
}

.footer_in .in_box .box_frist .box_frist_table .td_div_div {
    height: 33px;
    width: 91px;
    display: inline-block;
    border-bottom: 1px dashed #8d8d8d;
    margin-bottom: 14px;
    padding-bottom: 7px;
    color: #fff;
    font-size: 14px;
    box-sizing: border-box;
}

.footer_in .in_box .box_frist .box_frist_table .td_div_div2 {
    font-size: 13px;
    line-height: 1.8;
}

.footer_in .in_box .box_frist .box_frist_table .td_div_div2 a {
    color: #a4a4a4;
}

.footer_in .in_box .box_frist .box_frist_table .td_div_div2 a:hover {
    color: #fff;
}

.footer_in .in_box .box_frist .box_frist_table .div_img {
    height: 156px;
    text-align: center;
    overflow: hidden;
}

.footer_in .in_box .box_frist .box_frist_table .div_img img {
    width: 146px;
    height: 144px;
}

.footer_in .in_box .box_frist .box_frist_table .div_span {
    font-size: 13px;
    color: #a4a4a4;
    text-align: center;
}

.in_box .div_li>hr {
    width: 100%;
    height: 1px;
    background-color: #494949;
    border: 0;
    margin-top: 30px;
    margin-bottom: 10px;
}

.in_box .in_box_bottom table {
    width: 100%;
}

.in_box .in_box_bottom table .td_top>div {
    height: 40px;
}

.in_box .in_box_bottom table .box_bottom_right {
    padding: 0 15px;
    text-align: right;
}

.in_box .in_box_bottom table .box_bottom_right .right_margin {
    margin: 0 -20px;
}

.in_box .in_box_bottom table .box_bottom_right a {
    display: inline-block;
    width: 30px;
    height: 30px;
    background-color: #c9c9c9;
    border-radius: 30px;
    line-height: 1;
    margin: 0 5px 10px;
    padding: 3px;
    vertical-align: top;
}

.in_box .in_box_bottom table .box_bottom_right a:hover {
    background-color: #2b3b62;
}

.in_box .in_box_bottom table .box_bottom_right .social-item:hover .i_item {
    background-image: url(../images/icon-social-wH.png);
}

.in_box .in_box_bottom table .box_bottom_right a .i_item {
    background-image: url(../images/icon-social-w.png);
    vertical-align: middle;
}

.in_box .in_box_bottom table .box_bottom_right .icon-social-facebook {
    display: inline-block;
    height: 25px;
    width: 25px;
    background-position: 0 0;
}

.in_box .in_box_bottom table .box_bottom_right .icon-social-twitter {
    background-position: -25px 0;
    display: inline-block;
    height: 25px;
    width: 25px;
}

.in_box .in_box_bottom table .box_bottom_right .icon-social-xinlang {
    background-position: -100px -50px;
    display: inline-block;
    height: 25px;
    width: 25px;
}

.container_bottom {
    background-color: #000;
    text-align: center;
    position: relative;
}

.container_bottom_in {
    position: relative;
    padding: 13px;
}

.container_bottom_in a {
    color: #a4a4a4;
    text-decoration: none;
}

.container_bottom_in a:hover {
    color: #fff;
    text-decoration: underline;
}

.dis_none {
    display: none;
    width: 0;
}

.toptel a:hover {
    text-decoration: none;
}

@media screen and (max-width:767px) {
    .footer_none {
        display: none;
    }
}

@media screen and (max-width:960px) {
    .toptel {
        position: fixed;
        cursor: pointer;
        z-index: 99;
        width: 56px;
        height: 56px;
        right: 14px;
        line-height: 56px;
        bottom: 84px;
        background: rgba(0, 0, 0, 0.3);
        border-radius: 50%;
        text-align: center;
    }

    .toptel a {
        display: inline-block;
        font-size: 200%;
        line-height: 2;
        color: #fff;
        vertical-align: middle;
    }
}

.ML_navbar_mask {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 16;
    background-color: #000;
    opacity: 0.3;
}

@media screen and (max-width:1200px) {
    .left0 {
        left: 0 !important;
    }

    .col_right {
        position: fixed;
        left: -240px;
        width: 240px;
        background-color: #fff;
        top: 0;
        bottom: 0;
        padding: 0;
        margin-top: 0;
        z-index: 17;
        display: block;
        transition: left 0.5s;
    }

    .small_manue {
        text-align: right;
        background: none;
        overflow-y: auto;
        height: 100%;
        margin: 0;
        padding: 0;
    }

    .small_manue_ul {
        display: block;
        list-style: none;
    }

    .small_manue_ul li {
        display: block;
        float: none;
        text-align: left;
        margin: 0;
        border-bottom: 1px solid #f0f0f0;
        cursor: pointer;
    }

    .small_manue_ul li a {
        color: #2b3b62;
        line-height: 2.5;
        padding: 0 10px;
        font-size: 15px;
        display: block;
    }

    .small_manue_ul a:active,
    .small_manue_ul a:focus,
    .small_manue_ul a:hover {
        text-decoration: none;
    }

    .small_manue_li_div {
        position: relative;
    }

    .small_manue_li_div i {
        position: absolute;
        right: 0;
        text-align: right;
        width: 80px;
        height: 38px;
        line-height: 38px;
        margin-right: 11px;
    }
    .small_manue_ul li .submenu{
        border-top: 2px solid #7271cb;
        top: 0;
        left: 0;
        margin-left: 0;
        padding: 0;
        display: none;
        transition: bottom 0.5s;
    }
    .small_manue_ul li .submenu ul{
        display: block;
    }
    .small_manue_ul li .submenu ul li div a{
        color: #666;
        text-align: left;
        padding: 0 0 0 21px;
        font-size: 14px;
    }
    .small_manue_ul li .submenu ul li div a:hover{
        color:#7271c8;
        background: #f0f0f0;
    }
    .border0{
        border-bottom: 0 !important;
    }
}