 /* 清除内外边距 */
 body,
 h1,
 h2,
 h3,
 h4,
 h5,
 h6,
 hr,
 p,
 blockquote,
 /* structural elements 结构元素 */
 dl,
 dt,
 dd,
 ul,
 ol,
 li,
 /* list elements 列表元素 */
 pre,
 /* text formatting elements 文本格式元素 */
 fieldset,
 button,
 input,
 textarea,
 /* form elements 表单元素 */
 th,
 td {
     /* table elements 表格元素 */
     margin: 0;
     padding: 0;
     font-family: 微软雅黑, 'Microsoft YaHei';
 }

 /* 图片 */
 .bannerBox {
     position: relative;
     z-index: 3;
 }

 .banner {
     text-align: center;
     position: relative;
     overflow: hidden;
 }

 .banner img {
     max-width: 100%;
 }

 /* 帮助 */
 .w-container {
     width: 100%;
 }

 .w-section {
     width: 100%;
     background: url(../images/背景.jpg) no-repeat center;
 }

 .pdBottom-default {
     padding-bottom: 0 !important;
 }

 .pdTop-default {
     padding-top: 0 !important;
 }

 .w-section .row .wrap-content-in {
     position: relative;
     z-index: 3;
     padding: 20px 0;
     left: 18%;
 }

 .w-section .row .wrap-content-in .font1 {
     font-size: 32px !important;
     margin-bottom: 0.6em;
 }

 .w-section .row .wrap-content-in .H-line {
     width: 120px;
     height: 2px;
     background: #7271c8;
     margin: 0 auto 10px;
 }

 .w-section .row .wrap-content-in .w-text {
     font-size: 115%;
     max-width: 1030px;
     margin: 35px auto 0px;
     line-height: 2;
     text-align: left;
 }

 .pdTop-medium {
     padding-top: 20px !important;
 }

 .pdBottom-medium {
     padding-bottom: 20px !important;
 }

 .multi-imgs ul {
     background: white;
     overflow: hidden;
 }

 .multi-imgs ul,
 .multi-imgs li {
     list-style: none;
     margin: 0;
     padding: 0;
 }

 .multi-imgs li {
     width: 14.28%;
     float: left;
     text-align: center;
 }

 .multi-imgs .img {
     width: 100%;
     height: 100%;

     /* position: absolute;
     z-index: 3; */
 }

 .multi-imgs .img img {
     width: 75.2279%;
     height: 100%;
     left: 12.386%;
     top: 0%;
 }

 /* 解决方案 */
 .w-solution .container .title {
     padding: 20px 0;
 }

 .w-title {
     margin-top: 0;
     margin-bottom: 15px;
     position: relative;
     line-height: 1.5;
     text-align: center;
 }

 .w-title .tith {
     position: relative;
     vertical-align: middle;
     margin-bottom: 10px;
 }

 .w-title .tith .tith-in {
     position: relative;
     display: inline-block;
     z-index: 1;
 }

 .w-title .tith .tith-in::before {
     right: 100%;
     content: "";
     position: absolute;
     top: 50%;
     width: 1500px;
     height: 1px;
     background: #E2E1E1;
 }

 .w-title .tith .tith-in::after {
     left: 100%;
     content: "";
     position: absolute;
     top: 50%;
     width: 1500px;
     height: 1px;
     background: #E2E1E1;
 }

 .w-title .tith .tith-in h2 {
     color: #333;
     font-size: 26px;
     padding: 0 0.8em;
     margin-top: 0px;
     margin-bottom: 0;
 }

 .w-title p {
     font-size: 15px;
     color: #888;
     margin: 0 0 10px;
 }

 .title .row .div-padding {
     padding: 20px 15px;
 }

 .title .row .div-padding .w-case {
     background: #F4F4F4;
     padding: 25px 18px 15px;
 }

 .title .row .div-padding .w-case .padv-h {
     font-size: 18px !important;
     color: #333;
     margin: 0 0 18px;
 }
 .title .row .div-padding .w-case p{
     color: #666;
     height: 20em;
     line-height: 1.5em;
     margin-bottom: 5px;
     margin-top: 15px;
 }
 .title .row .div-padding .w-case .padv-num{
     line-height: 1;
     text-align: right;
     font-size: 108px;
     font-weight: bold;
     color: #e3e0f2;
     margin-top: 10px;
     font-family: Arial, Helvetica, sans-serif;
 }

 .title .w-button{
     text-align: center;
 }
 .title .w-button .btn-w{
     display: inline-block;
     line-height: 1.5;
     cursor: pointer;
     color: #fff;
     background-color: #2b3b62;
     padding: 0.8em 3em;
     border-radius: 3em;
 }