{{extend "./layout/layout.html"}}
{{block "head"}}


<link rel="stylesheet" href="../css/gw-color.css">
<link rel="stylesheet" href="../css/gw-global.css">
<link rel="stylesheet" href="../css/gw-images.css">
<link rel="stylesheet" href="../css/gw-theme.css">
<link rel="stylesheet" href="../css/gw-varioursComponts.css">
<link rel="stylesheet" href="../css/gw-widget.css">
<link rel="stylesheet" href="../css/gw-main.css">
<link rel="stylesheet" href="../css/gw-magic.min.css">
<link rel="stylesheet" href="../css/gw-normalize.css">


<title>员工风采</title>

{{/block}}

{{block "content"}}

<div>
    <img class="img-responsive" src="../images/gw-09.jpg" alt="" srcset="">
</div>
<div class="w-container w-main">
    <div class="w-section pdTop-default pdBottom-default" id="719623">
        <div class="row">
            <div class="row-mask"></div>
            <div class="wrap-content-in  pdTop-large pdBottom-default" data-id="719623" data-type="31">
                <div class="li-div" data-comunique="272b5b06ddbc1bd58fb9d2a8f3a2bd5a">
                    <div class="w-edit-com w-code">
                        <div class="custom-code">
                            <div class="code-info">
                                <div class="w-com-menu w-com-menu-H" style="margin-bottom:0;">
                                    <div class="w-com-menu-in">
                                        <div class="systitle">
                                            <div class="systitle-in">加入我们</div>
                                            <i class="fa icon_menuControl"></i>
                                        </div>
                                        <ul class="ul-parent">
                                            <li class="li-parent cur">
                                                <div class="div-parent"> <a
                                                        href="./gw-Employees-work.html">员工风采</a><span
                                                        class="menu_simpline_cur"></span></div>
                                            </li>
                                            <li class="li-parent ">
                                                <div class="div-parent"> <a href="./gw-zhaopin.html">企业招聘</a><span
                                                        class="menu_simpline_cur"></span></div>
                                            </li>

                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="w-section pdTop-default pdBottom-default"
        style="background:url(/home/c/1/2irp1z/resource/2019/12/18/5df9f17543ebd.jpg) no-repeat center;" id="719625">
        <div class="row">
            <div class="row-mask"></div>
            <div class="wrap-content-in  pdTop-large pdBottom-large" data-id="719625" data-type="31">
                <div class="li-div" data-comunique="bc8869c9f2be3bae438573cde5d5687f">
                    <div class="not-animated w-text" data-animate="fadeInUp">
                        <div style="text-align: center; font-size:26px; font-weight:bold;" class="font26">
                            员工风采
                        </div>
                        <p style="text-align: center;">
                            合铸“精尖特”平台，成就米洛人价值与梦想。
                        </p>
                    </div>
                </div>
                <!-- 图片样式 -->
                <!-- <div class="container-fluid">
                        <div class="row"> -->
                <!-- <div class="container"> -->

                <div class="box">
                    <div class="box-content">
                        <div class="box-wrapper">
                            God in Creation<span class="name">Matt Scribner</span>
                            <div class="row">92 likes - 1,410 views</div>
                        </div>
                    </div>
                    <div class="box-overlay magictime" data-hover="puffOut" data-return="puffIn">
                        <img style="width:260px;height: 195px;" src="../images/gw-01.jpg" alt="" />
                    </div>
                    <a class="link" href="#" target="_blank"></a>
                </div>

                <div class="box">
                    <div class="box-content">
                        <div class="box-wrapper">
                            Zephaniah 3:17<span class="name">Matt Scribner</span>
                            <div class="row">119 likes - 1,826 views</div>
                        </div>
                    </div>
                    <div class="box-overlay magictime" data-hover="puffOut" data-return="puffIn">
                        <img style="width:260px;height: 195px;" src="../images/gw-02.jpg" alt="" />
                    </div>
                    <a class="link" href="#" target="_blank"></a>
                </div>

                <div class="box">
                    <div class="box-content">
                        <div class="box-wrapper">
                            Rejoice Always<span class="name">Matt Scribner</span>
                            <div class="row">135 likes - 1,296 views</div>
                        </div>
                    </div>
                    <div class="box-overlay magictime" data-hover="puffOut" data-return="puffIn">
                        <img style="width:260px;height: 195px;" src="../images/gw-03.jpg" alt="" />
                    </div>
                    <a class="link" href="#" target="_blank"></a>
                </div>



                <div class="box">
                    <div class="box-content">
                        <div class="box-wrapper">
                            Colossians 1:16<span class="name">Matt Scribner</span>
                            <div class="row">123 likes - 1,492 views</div>
                        </div>
                    </div>
                    <div class="box-overlay magictime" data-hover="puffOut" data-return="puffIn">
                        <img style="width:260px;height: 195px;" src="../images/gw-04.jpg" alt="" />
                    </div>
                    <a class="link" href="#" target="_blank"></a>
                </div>

                <div class="box">
                    <div class="box-content">
                        <div class="box-wrapper">
                            Be A Man!<span class="name">Matt Scribner</span>
                            <div class="row">84 likes - 1,157 views</div>
                        </div>
                    </div>
                    <div class="box-overlay magictime" data-hover="puffOut" data-return="puffIn">
                        <img style="width:260px;height: 195px;" src="../images/gw-05.jpg" alt="" />
                    </div>
                    <a class="link" href="#" target="_blank"></a>
                </div>

                <div class="box">
                    <div class="box-content">
                        <div class="box-wrapper">
                            Philippians 4:13<span class="name">Matt Scribner</span>
                            <div class="row">77 likes - 1,017 views</div>
                        </div>
                    </div>
                    <div class="box-overlay magictime" data-hover="puffOut" data-return="puffIn">
                        <img style="width:260px;height: 195px;" src="../images/gw-06.jpg" alt="" />
                    </div>
                    <a class="link" href="#" target="_blank"></a>
                </div>
                <div class="box">
                    <div class="box-content">
                        <div class="box-wrapper">
                            Philippians 4:13<span class="name">Matt Scribner</span>
                            <div class="row">77 likes - 1,017 views</div>
                        </div>
                    </div>
                    <div class="box-overlay magictime" data-hover="puffOut" data-return="puffIn">
                        <img style="width:260px;height: 195px;" src="../images/gw-07.jpg" alt="" />
                    </div>
                    <a class="link" href="#" target="_blank"></a>
                </div>
                <div class="box">
                    <div class="box-content">
                        <div class="box-wrapper">
                            Philippians 4:13<span class="name">Matt Scribner</span>
                            <div class="row">77 likes - 1,017 views</div>
                        </div>
                    </div>
                    <div class="box-overlay magictime" data-hover="puffOut" data-return="puffIn">
                        <img style="width:260px;height: 195px;" src="../images/gw-08.jpg" alt="" />
                    </div>
                    <a class="link" href="#" target="_blank"></a>
                </div>
            </div>

        </div>
    </div>
</div>
{{/block}}

{{block "script"}}

<script src="../js/jquery-1.11.0.min.js"></script>
<script src="../js/main.js"></script>
{{/block}}