{{extend "./layout/layout.html"}}
{{block "head"}}
<link rel="stylesheet" href="../css/gw-color.css">
<link rel="stylesheet" href="../css/gw-global.css">
<link rel="stylesheet" href="../css/gw-images.css">
<link rel="stylesheet" href="../css/gw-theme.css">
<link rel="stylesheet" href="../css/gw-varioursComponts.css">
<link rel="stylesheet" href="../css/gw-widget.css">

<title>加入我们</title>

{{/block}}

{{block "content"}}


<div>
    <img class="img-responsive" src="../images/gw-09.jpg" alt="" srcset="">
</div>

<div class="w-container w-main">
    <div class="w-section pdTop-default pdBottom-default" id="715377">
        <div class="row">
            <div class="row-mask"></div>
            <div class="wrap-content-in  pdTop-large pdBottom-default" data-id="715377" data-type="31">
                <div class="li-div" data-comunique="4d893ede19406b02c59b898a2a8fa3da">
                    <div class="w-edit-com w-code">
                        <div class="custom-code">
                            <div class="code-info">
                                <div class="w-com-menu w-com-menu-H" style="margin-bottom:0;">
                                    <div class="w-com-menu-in">
                                        <div class="systitle">
                                            <div class="systitle-in">加入我们</div>
                                            <i class="fa icon_menuControl"></i>
                                        </div>
                                        <ul class="ul-parent">
                                            <li class="li-parent cur">
                                                <div class="div-parent"> <a
                                                        href="./gw-Employees-work.html">员工风采</a><span
                                                        class="menu_simpline_cur"></span></div>
                                            </li>
                                            <li class="li-parent ">
                                                <div class="div-parent"> <a href="./gw-zhaopin.html">企业招聘</a><span
                                                        class="menu_simpline_cur"></span></div>
                                            </li>

                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="w-section pdTop-default pdBottom-default" id="715379">
        <div class="row">
            <div class="row-mask"></div>
            <div class="wrap-content-in  pdTop-large pdBottom-large" data-id="715379" data-type="31">
                <div class="li-div" data-comunique="25542fdbfe0c5566613de28662ca00d7">
                    <div class="not-animated w-text" data-animate="fadeInUp">
                        <div style="text-align:center;font-size:26px; font-weight:bold;" class="font26">
                            加入我们
                        </div>
                        <p style="text-align: center;">
                            是一家多元化的高新技术企业，公司以“聚力科技融合制造，助力企业智能升级”为使命，以“赋能制造，成就米洛人价值与梦想”为愿景。如果你想有一个能让你得到成长的机会，如果你想有一个能让你施展才华的领地，如果你想有一个工作即事业的平台，那么，加入我们，我们一起点亮人生，实现梦想！
                        </p>
                    </div>
                </div>
                <div class="li-div" data-comunique="f25ee63b846a0ce7282cd0d35c38231d">
                    <div class="w-space space-b noChoose" style="height:40px;">
                        <div class="stretch-b"></div>
                    </div>
                </div>
                <div class="li-div" data-comunique="f04cc9bb64f987cb5084802925c3185d">
                    <div class="w-button4" style="text-align:center;">
                        <a href="/jion/zhaopin.html" target="_self">
                            <div class="btn-w btn-pd5 bg_main aHoverbg_deepen g-click-to-link"
                                id="button-f04cc9bb64f987cb5084802925c3185d" data-link="/jion/zhaopin.html">
                                <span class="btn-inner">我们的岗位，正虚位以待</span>
                            </div>
                        </a>
                        <a style="display:none;" href="/jion/zhaopin.html" target="_self"><span
                                id="tag-a-f04cc9bb64f987cb5084802925c3185d"></span></a>
                    </div>
                </div>
                <script type="text/javascript">
                    $(function () {
                        $("#button-f04cc9bb64f987cb5084802925c3185d").click(function () {
                            var link = $(this).data("link");
                            if (link === "") {
                                return '';
                            }
                            // $("#tag-a-f04cc9bb64f987cb5084802925c3185d").click();
                        });
                    });
                </script>
                <div class="li-div" data-comunique="a47e0309a0d9aa2fe26f6a956d7aa363">
                    <div class="w-space space-b noChoose" style="height:40px;">
                        <div class="stretch-b"></div>
                    </div>
                </div>
                <div class="li-div" data-comunique="ca5e8b840f75d4ed210fd48b4d8d1512">
                    <div class="w-text">
                        <div style="text-align: center; font-size:26px; font-weight:bold;" class="font26">
                            我们的福利
                        </div>
                    </div>
                </div>
                <div class="li-div" data-comunique="0687ac9d9abb322155a2c89918090c39">
                    <div class="w-space space-b noChoose" style="height:20px;">
                        <div class="stretch-b"></div>
                    </div>
                </div>
                <div class="li-div col-li-div" data-id="761544" data-type="1">
                    <div class="col-table">
                        <table class="div-table div-table-first" width="100%" cellspacing="0" data-pid="715379"
                            cellpadding="0" border="0">
                            <tbody>
                                <tr>
                                    <td class="td-w" width="33.333333333333336%">
                                        <div class="div-padding">
                                            <div class="li-div" data-comunique="3ec49fc73c4a0fc25bad911cd9831469">
                                                <div class="w-text">
                                                    <style type="text/css">
                                                        @media (max-width:480px) {
                                                            .xm {
                                                                padding: 1.2em 1em 1em !important;
                                                            }
                                                        }
                                                    </style>
                                                    <div class="xm"
                                                        style="background:#fff;text-align:center; padding:35px 20px 15px;">
                                                        <div class="xm_img" style="text-align: center;">
                                                            <img src="../images/gw-10.png" />
                                                        </div>
                                                        <div style="color:#333;margin-bottom:0.8em; font-size:24px;"
                                                            class="font24"></div>
                                                        <p style="color: rgb(102, 102, 102); line-height: 1.8; text-align: center;"
                                                            class="xm_p">
                                                            米洛成长学院的技术大牛带你飞，定期学习与分享
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="td-w" width="33.333333333333336%">
                                        <div class="div-padding">
                                            <div class="li-div" data-comunique="58ca2bab6cbb7d7eb682192420b12620">
                                                <div class="w-text">
                                                    <style type="text/css">
                                                        @media (max-width:480px) {
                                                            .xm {
                                                                padding: 1.2em 1em 1em !important;
                                                            }
                                                        }
                                                    </style>
                                                    <div class="xm"
                                                        style="background:#fff;text-align:center; padding:35px 20px 15px;">
                                                        <div class="xm_img" style="text-align: center;"><img
                                                                src="../images/gw-11.png" />
                                                        </div>
                                                        <div style="color:#333;margin-bottom:0.8em; font-size:24px;"
                                                            class="font24"></div>
                                                        <p style="color: rgb(102, 102, 102); line-height: 1.8; text-align: center;"
                                                            class="xm_p">舒适的工作环境，弹性的工作时间</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="td-w" width="33.333333333333336%">
                                        <div class="div-padding">
                                            <div class="li-div" data-comunique="99a63ef521a7b8897bf47fbe48a916b6">
                                                <div class="w-text">
                                                    <style type="text/css">
                                                        @media (max-width:480px) {
                                                            .xm {
                                                                padding: 1.2em 1em 1em !important;
                                                            }
                                                        }
                                                    </style>
                                                    <div class="xm"
                                                        style="background:#fff;text-align:center; padding:35px 20px 15px;">
                                                        <div class="xm_img" style="text-align: center;"><img
                                                                src="../images/gw-12.png" />
                                                        </div>
                                                        <div style="color:#333;margin-bottom:0.8em; font-size:24px;"
                                                            class="font24"></div>
                                                        <p style="color: rgb(102, 102, 102); line-height: 1.8; text-align: center;"
                                                            class="xm_p">双休、年假，各式福利，应有尽有</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="li-div" data-comunique="bba7331b804afffa39dd6016d1fe9c56">
                    <div class="w-space space-b noChoose" style="height:20px;">
                        <div class="stretch-b"></div>
                    </div>
                </div>
                <div class="li-div col-li-div" data-id="761550" data-type="1">
                    <div class="col-table">
                        <table class="div-table div-table-first" width="100%" cellspacing="0" data-pid="715379"
                            cellpadding="0" border="0">
                            <tbody>
                                <tr>
                                    <td class="td-w" width="33.333333333333336%">
                                        <div class="div-padding">
                                            <div class="li-div" data-comunique="a2c0f02dd9b03abba4b007320d6b98e5">
                                                <div class="w-text">
                                                    <style type="text/css">
                                                        @media (max-width:480px) {
                                                            .xm {
                                                                padding: 1.2em 1em 1em !important;
                                                            }
                                                        }
                                                    </style>
                                                    <div class="xm"
                                                        style="background:#fff;text-align:center; padding:35px 20px 15px;">
                                                        <div class="xm_img" style="text-align: center;"><img
                                                                src="../images/gw-13.png" />
                                                        </div>
                                                        <div style="color:#333;margin-bottom:0.8em; font-size:24px;"
                                                            class="font24"></div>
                                                        <p style="color: rgb(102, 102, 102); line-height: 1.8; text-align: center;"
                                                            class="xm_p">五险一金，保障多多</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="td-w" width="33.333333333333336%">
                                        <div class="div-padding">
                                            <div class="li-div" data-comunique="dbb39cd910f207e914b9304cd4214d5d">
                                                <div class="w-text">
                                                    <style type="text/css">
                                                        @media (max-width:480px) {
                                                            .xm {
                                                                padding: 1.2em 1em 1em !important;
                                                            }
                                                        }
                                                    </style>
                                                    <div class="xm"
                                                        style="background:#fff;text-align:center; padding:35px 20px 15px;">
                                                        <div class="xm_img" style="text-align: center;"><img
                                                                src="../images/gw-14.png" />
                                                        </div>
                                                        <div style="color:#333;margin-bottom:0.8em; font-size:24px;"
                                                            class="font24"></div>
                                                        <p style="color: rgb(102, 102, 102); line-height: 1.8; text-align: center;"
                                                            class="xm_p">项目奖金，多劳多得</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="td-w" width="33.333333333333336%">
                                        <div class="div-padding">
                                            <div class="li-div" data-comunique="4ea5060e12fce5560c31bb33dfd46215">
                                                <div class="w-text">
                                                    <style type="text/css">
                                                        @media (max-width:480px) {
                                                            .xm {
                                                                padding: 1.2em 1em 1em !important;
                                                            }
                                                        }
                                                    </style>
                                                    <div class="xm"
                                                        style="background:#fff;text-align:center; padding:35px 20px 15px;">
                                                        <div class="xm_img" style="text-align: center;"><img
                                                                src="../images/gw-15.png" />
                                                        </div>
                                                        <div style="color:#333;margin-bottom:0.8em; font-size:24px;"
                                                            class="font24"></div>
                                                        <p style="color: rgb(102, 102, 102); line-height: 1.8; text-align: center;"
                                                            class="xm_p">加入合伙人平台，共创共享</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="li-div" data-comunique="f23b53e9450ce0f61451521e8df49b10">
                    <div class="w-space space-b noChoose" style="height:40px;">
                        <div class="stretch-b"></div>
                    </div>
                </div>
                <div class="li-div" data-comunique="e9b2c1a4d8cb2e9ed68b91f578776d42">
                    <div class="w-text">
                        <div style="text-align: center; font-size:26px; font-weight:bold;" class="font26">
                            没有找到适合你的职位？</div>
                    </div>
                </div>
                <div class="li-div" data-comunique="cc1a459f4121e2d7ab9468cb4a3e5edd">
                    <div class="w-space space-b noChoose" style="height:20px;">
                        <div class="stretch-b"></div>
                    </div>
                </div>
                <div class="li-div" data-comunique="816f702861c352ba7434fa68a56a6498">
                    <div class="w-text">
                        <p style="text-align: center;"><span style="font-family: 微软雅黑">请创造一个职位并把简历砸过来吧！</span></p>
                        <p style="text-align: center;"><span style="font-family: 微软雅黑">我是米洛的招聘主管Miss Q</span></p>
                        <p style="text-align: center;"><span style="font-family: 微软雅黑 ">E-mail：milo@wxmilo.com</span>
                        </p>
                        <p style="text-align: center;"><span style="font-family: 微软雅黑">请附上你的简历，期待与你相遇!</span></p>
                    </div>
                </div>
                <div class="li-div" data-comunique="ec668f725b168783ce9c81c4145549d7">
                    <div class="w-space space-b noChoose" style="height:80px;">
                        <div class="stretch-b"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script
        type="text/javascript">$(function () { $(".div-table-first").find(".div-table-first").each(function () { $(this).removeClass("div-table-first") }); });</script>
</div>
{{/block}}

{{block "script"}}

{{/block}}