{{extend "./layout/layout.html"}}
{{block "head"}}
<title>米洛智能</title>
<link rel="stylesheet" href="../css/index.css">
{{/block}}

        {{block "content"}}
        <div class="main">
            <!-- 轮播图 -->
            <section class="ML_banner">
                <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators"></ol>
                    <div class="carousel-inner"></div>
                    <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                    </a>
                    <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </a>
                </div>
            </section>
            <!-- 我们的产品模块 -->
            <div class="mod2 ">
                <div class="mod2_top animate__animated animate__bounceInUp">
                    <div class="mod2_top_text ">
                        <h2 class="">我们的产品</h2>
                    </div>
                    <p>聚力科技融合制造，引领制造业智能升级</p>
                </div>
                <div class="mod2_middle animate__animated animate__bounceInUp">
                    <div>
                        <table class="mod2_middle_table">
                            <tr>
                                <td class="td_top" width="33.3%">
                                    <div class="table_box">
                                        <div class="table_div"></div>
                                        <a href="#">
                                            <div class="table_box_img">
                                                <img src="../images/mod2.1.png" alt="MES制造执行系统">
                                            </div>
                                            <div class="table_box_text">
                                                <p>MES制造执行系统</p>
                                            </div>
                                        </a>
                                        <div class="table_div"></div>
                                    </div>
                                </td>
                                <td class="td_top " width="33.3%">
                                    <div class="table_box mod2_background_white">
                                        <div class="table_div"></div>
                                        <a href="#">
                                            <div class="table_box_img">
                                                <img src="../images/mod2.2.png" alt="MES制造执行系统">
                                            </div>
                                            <div class="table_box_text">
                                                <p>WMS仓储管理子系统</p>
                                            </div>
                                        </a>
                                        <div class="table_div"></div>
                                    </div>
                                </td>
                                <td class="td_top" width="33.3%">
                                    <div class="table_box">
                                        <div class="table_div"></div>
                                        <a href="#">
                                            <div class="table_box_img">
                                                <img src="../images/mod2.3.png" alt="MES制造执行系统">
                                            </div>
                                            <div class="table_box_text">
                                                <p>SIM及时化管理子系统</p>
                                            </div>
                                        </a>
                                        <div class="table_div"></div>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="mod2_bottom animate__animated animate__bounceInUp">
                    <div>
                        <table class="mod2_middle_table">
                            <tr>
                                <td class="td_top" width="33.3%">
                                    <div class="table_box mod2_background_white">
                                        <div class="table_div"></div>
                                        <a href="#">
                                            <div class="table_box_img">
                                                <img src="../images/mod2.4.png" alt="MES制造执行系统">
                                            </div>
                                            <div class="table_box_text">
                                                <p>POM运维管理子系统</p>
                                            </div>
                                        </a>
                                        <div class="table_div"></div>
                                    </div>
                                </td>
                                <td class="td_top " width="33.3%">
                                    <div class="table_box ">
                                        <div class="table_div"></div>
                                        <a href="#">
                                            <div class="table_box_img">
                                                <img src="../images/mod2.5.png" alt="MES制造执行系统">
                                            </div>
                                            <div class="table_box_text">
                                                <p>仓储机器人</p>
                                            </div>
                                        </a>
                                        <div class="table_div"></div>
                                    </div>
                                </td>
                                <td class="td_top" width="33.3%">
                                    <div class="table_box mod2_background_white">
                                        <div class="table_div"></div>
                                        <a href="#">
                                            <div class="table_box_img">
                                                <img src="../images/mod2.6.png" alt="MES制造执行系统">
                                            </div>
                                            <div class="table_box_text">
                                                <p>穿梭机器人</p>
                                            </div>
                                        </a>
                                        <div class="table_div"></div>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <!-- 关于我们 -->
            <div class="mod3">
                <div class="mod3_box">
                    <div class="mod3_box_bg"></div>
                    <div class="mod3_box_main ">
                        <table>
                            <tr>
                                <td class="td_top " width="50%">
                                    <div class="mod3_box_main_left animate__animated animate__bounceInLeft">
                                        <img src="../images/mod3.1.jpg" alt="">
                                    </div>
                                </td>
                                <td class="td_top " width="50%">
                                    <div class="mod3_box_main_right animate__animated animate__bounceInRight">
                                        <div class="mod3_box_main_right_text">
                                            <span>关于我们</span>
                                            <h2>ABOUT US</h2>
                                            <div>
                                                <div class="mod3_box_text">
                                                    无锡米洛智能工业科技有限公司是离散制造行业制造执行系统（MES）与仓储物流解决方案的卓越供应商。公司座落于中国无锡经开区高新技术产业园，拥有平台级企业信息化与自动化系统研发力量以及专家级顾问资源，建有完善的产品研发制造体系、质量管理体系与项目交付体系...
                                                </div>
                                                <a href="">VIEW MORE&nbsp;+</a>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <!-- 米洛能解决什么 -->
            <div class="mod4">
                <div class="mod4_top animate__animated animate__bounceInUp">
                    <div class="mod4_top_text">
                        <h2>MILO米洛能解决什么</h2>
                    </div>
                    <p>WHAT ARE WE GOING TO DO</p>
                </div>
                <div class="mod4_main">
                    <div class="mod4_main_content">
                        <div class="mod4_main_one"></div>
                        <div class="mod4_main_three"></div>
                        <div class="mod4_main_four clearfix">
                            <div class="col_table animate__animated animate__bounceInUp">
                                <table>
                                    <tr>
                                        <td class="td_top" width="33.33%">
                                            <div class="div-padding">
                                                <div>
                                                    <div>
                                                        <div class="mod4_main_four_content">
                                                            <div class="mod4_img">
                                                                <img src="../images/mod4.1.png" alt="">
                                                            </div>
                                                            <p>
                                                                <span>
                                                                    <strong>
                                                                        <span>您是否碰到这样的问题：</span>
                                                                    </strong>
                                                                </span>
                                                                <br>
                                                                <span class="p_text">
                                                                    <span>
                                                                        生产工艺执行不到位，交货总是延期？
                                                                        <br>
                                                                        手工排程效率低，计划混乱？
                                                                        <br>
                                                                        库存吃掉大量利润，人均产值低？
                                                                        <br>
                                                                        生产问题重复出现，产品质量不稳定？
                                                                        <br>
                                                                        信息传递不对称，信息孤岛多？
                                                                        <br>
                                                                        客户评审忙于人工“造”数据？
                                                                        <br>
                                                                    </span>
                                                                </span>
                                                                <br>
                                                                <strong class="p_text-2">
                                                                    <span>
                                                                        <br>
                                                                        <br>
                                                                        <br>
                                                                        <br>
                                                                        那么，选择MILO-IMES制造执行系统
                                                                        ，上述问题迎刃而解，MILO-IMES将优化您的流程，赋能您的生产执行。
                                                                    </span>
                                                                    <br>
                                                                </strong>
                                                                <br>
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                        <td class="td_top" width="33.33%">
                                            <div class="div-padding">
                                                <div>
                                                    <div>
                                                        <div class="mod4_main_four_content">
                                                            <div class="mod4_img">
                                                                <img src="../images/mod4.2.png" alt="">
                                                            </div>
                                                            <p>
                                                                <span>
                                                                    <strong>
                                                                        <span>您是否碰到这样的问题：</span>
                                                                    </strong>
                                                                </span>
                                                                <br>
                                                                <span class="p_text">
                                                                    <span>
                                                                        库房面积不够用，人工搬运强度大，货物进出效率低？
                                                                        <br>
                                                                        人工找货太费劲，找料等不增值行为多？
                                                                        <br>
                                                                        作业线下操作，帐卡物不一致？
                                                                        <br>
                                                                        生产业务部门抱怨库存不透明？
                                                                        <br>
                                                                        仓库管理依赖人员素养？
                                                                        <br>
                                                                        防错装置缺失？
                                                                        <br>
                                                                        缺料导致断线，生产不连续？
                                                                        <br>
                                                                        工位现在物料堆放杂乱？
                                                                        <br>
                                                                        小批量多品种影响交货周期？
                                                                        <br>
                                                                    </span>
                                                                </span>
                                                                <br>
                                                                <strong class="p_text-2">
                                                                    <span>
                                                                        <br>
                                                                        那么，选择MILO STOROBOT仓储机人系列产品，搭配MILO-IWMS仓储管理系统软件
                                                                        ，上述问题迎刃而解，MILO-IWMS将为您的仓库管理赋能。
                                                                    </span>
                                                                    <br>
                                                                </strong>
                                                                <br>
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                        <td class="td_top" width="33.33%">
                                            <div class="div-padding">
                                                <div>
                                                    <div>
                                                        <div class="mod4_main_four_content">
                                                            <div class="mod4_img">
                                                                <img src="../images/mod4.3.png" alt="">
                                                            </div>
                                                            <p>
                                                                <span>
                                                                    <strong>
                                                                        <span>您是否碰到这样的问题：</span>
                                                                    </strong>
                                                                </span>
                                                                <br>
                                                                <span class="p_text">
                                                                    <span>
                                                                        已有大量数据，价值在哪里？我将如何让数据来提高生产力？
                                                                        <br>
                                                                        难道可视化仅仅是用来接待领导参观的道具吗？
                                                                        <br>
                                                                        看板数据为何无人问津？
                                                                        <br>
                                                                        为何现场信息更多的依赖层层询问？
                                                                        <br>
                                                                        可视化如何推动全员参与制造？
                                                                        <br>
                                                                        业务需求变化为何不能与可视化系统同步？
                                                                        <br>
                                                                        企业到底如何搭建一个可持续发展的数据价值挖掘体系？
                                                                        <br>
                                                                    </span>
                                                                </span>
                                                                <br>
                                                                <strong class="p_text-2">
                                                                    <span>
                                                                        <br>
                                                                        <br>
                                                                        <br>
                                                                        那么，选择MILO-VMS可视化管理系统
                                                                        ，上述问题迎刃而解，MILO-VMS可视化管理系统将为您的工厂可视化管理赋能。
                                                                    </span>
                                                                    <br>
                                                                </strong>
                                                                <br>
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <div class="mod4_main_five clearfix">
                            <div class="col_table animate__animated animate__bounceInUp">
                                <table>
                                    <tr>
                                        <td class="td_top" width="33.33%">
                                            <div class="div-padding">
                                                <div>
                                                    <div>
                                                        <div class="mod4_main_four_content">
                                                            <div class="mod4_img">
                                                                <img src="../images/mod4.4.png" alt="">
                                                            </div>
                                                            <p>
                                                                <span>
                                                                    <strong>
                                                                        <span>您是否碰到这样的问题：</span>
                                                                    </strong>
                                                                </span>
                                                                <br>
                                                                <span class="p_text">
                                                                    <span>
                                                                        信息沟通不顺畅，部门协作有点差？
                                                                        <br>
                                                                        问题总反复，内耗有点大？
                                                                        <br>
                                                                        异常无法及时关闭或不了了之？资源太浪费？
                                                                        <br>
                                                                        快速反应会无法持续开展？
                                                                        <br>
                                                                        在办公室解决问题，没有去现场问题发现点？
                                                                        <br>
                                                                        未系统记录问题总结，无法推动持续改善？
                                                                        <br>
                                                                        管理者是否该有一个行之有效的管理工具来了解现场与员工的问题，并快速响应和解决？
                                                                        <br>
                                                                    </span>
                                                                </span>
                                                                <br>
                                                                <strong class="p_text-2">
                                                                    <span>
                                                                        <br>
                                                                        <br>
                                                                        那么，选择MILO-SIM
                                                                        及时化管理系统，上述问题迎刃而解，MILO-SIM及时化管理系统将为您的及时化管理赋能。
                                                                    </span>
                                                                </strong>
                                                                <br>
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                        <td class="td_top" width="33.33%">
                                            <div class="div-padding">
                                                <div>
                                                    <div>
                                                        <div class="mod4_main_four_content">
                                                            <div class="mod4_img">
                                                                <img src="../images/mod4.5.png" alt="">
                                                            </div>
                                                            <p>
                                                                <span>
                                                                    <strong>
                                                                        <span>您是否碰到这样的问题：</span>
                                                                    </strong>
                                                                </span>
                                                                <br>
                                                                <span class="p_text">
                                                                    <span>
                                                                        一线巡检工人采用纸质单据记录巡检，效率低下？
                                                                        <br>
                                                                        错误漏检是家常便饭？
                                                                        <br>
                                                                        上级部门缺乏有效手段规范巡检，监督管理不到位，只巡不检现象严重？
                                                                        <br>
                                                                        纸质数据需要人工录入Excel表格中，共享不便，统计汇总耗时耗力？
                                                                        <br>
                                                                        管理层无法及时获知设备运转情况，设备管理现状混乱，给生产管理造成了很大的困扰？
                                                                        <br>
                                                                    </span>
                                                                </span>
                                                                <br>
                                                                <strong class="p_text-2">
                                                                    <span>
                                                                        <br>
                                                                        <br>
                                                                        那么，选择MILO-POM
                                                                        生产运维系统，上述问题迎刃而解，MILO-POMS生产运维系统将为您的生产运维管理赋能。
                                                                    </span>
                                                                </strong>
                                                                <br>
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                        <td class="td_top" width="33.33%">
                                            <div class="div-padding">
                                                <div>
                                                    <div>
                                                        <div class="mod4_main_four_content">
                                                            <div class="mod4_img">
                                                                <img src="../images/mod4.6.png" alt="">
                                                            </div>
                                                            <p>
                                                                <span>
                                                                    <strong>
                                                                        <span>您是否碰到这样的问题：</span>
                                                                    </strong>
                                                                </span>
                                                                <br>
                                                                <span class="p_text">
                                                                    <span>
                                                                        想要长距离的高速运送您的托盘？
                                                                        <br>
                                                                        想要利用一套输送设备快速轻松地连接您的仓库？
                                                                        <br>
                                                                        想要把货物疾速、高效的送达指定地点？
                                                                        <br>
                                                                    </span>
                                                                </span>
                                                                <br>
                                                                <strong class="p_text-2">
                                                                    <span>
                                                                        <br>
                                                                        <br>
                                                                        <br>
                                                                        <br>
                                                                        <br>
                                                                        <br>
                                                                        <br>
                                                                        那么，选择MILO RAILROBOT系列产品
                                                                        ，上述问题迎刃而解，米洛提供的RAILROBOT产品将会让您的物料运输更高效、更便捷。
                                                                    </span>
                                                                </strong>
                                                                <br>
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <div class="mod4_main_six">
                            <div class="mod4_main_six_div1">
                                <a href="#">
                                    <div class="mod4_main_six_div2 animate__animated animate__bounceInUp">
                                        <span>查看更多解决方案</span>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 解决方案  -->
            <div class="mod5">
                <div class="mod5_div"></div>
                <div class="mod5_top animate__animated animate__bounceInUp">
                    <div class="mod5_top_text">
                        <h2>解决方案案例</h2>
                    </div>
                    <p>SOLUTION CASE</p>
                </div>
                <div class="mod5_content">
                    <div class="mod5_main">
                        <div class="mod5_main_midde animate__animated animate__bounceInUp">
                            <div class="mod5_midde_box">
                                <ul>
                                    <li>
                                        <div class="mod5_item">
                                            <div class="mod5_item_img">
                                                <a href="#">
                                                    <img src="../images/mod5.1.png" alt="">
                                                </a>
                                            </div>
                                            <div class="mod5_item_text">
                                                <div class="mod5_item_text_a">
                                                    <a href="">内蒙古浩普瑞新能源材料仓储项目</a>
                                                </div>
                                                <div>解决方案：WMS/WCS+仓储机器人</div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="mod5_item">
                                            <div class="mod5_item_img">
                                                <a href="#">
                                                    <img src="../images/mod5.2.png" alt="">
                                                </a>
                                            </div>
                                            <div class="mod5_item_text">
                                                <div class="mod5_item_text_a">
                                                    <a href="">远东橡胶模具仓储项目</a>
                                                </div>
                                                <div>解决方案：WMS/WCS+仓储机器人</div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="mod5_item">
                                            <div class="mod5_item_img">
                                                <a href="#">
                                                    <img class="mod5_img" src="../images/mod5.3.png">
                                                </a>
                                            </div>
                                            <div class="mod5_item_text">
                                                <div class="mod5_item_text_a">
                                                    <a href="">常开可视化系统项目</a>
                                                </div>
                                                <div>解决方案：参照智能制造国家标准，从可视化层级、可视化主题、可视化数据三个维度进行规划。</div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="dis_none">
                                        <div class="mod5_item ">
                                            <div class="mod5_item_img">
                                                <a href="#">
                                                    <img class="mod5_img" src="../images/mod5.4.png">
                                                </a>
                                            </div>
                                            <div class="mod5_item_text">
                                                <div class="mod5_item_text_a">
                                                    <a href="">原材料自动仓储项目</a>
                                                </div>
                                                <div>解决方案：WMS/WCS+仓储机器人+穿梭机器人</div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="mod5_div2"></div>
                        <div class="mod5_main_six">
                            <div class="mod5_main_six_div1">
                                <a href="#">
                                    <div class="mod5_main_six_div2">
                                        <span>查看更多案例</span>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="mod5_div2"></div>
                    </div>
                </div>
            </div>
            <!-- 新闻资讯 -->
            <div class="mod6">
                <div class="mod6_div"></div>
                <div class="mod2_top">
                    <div class="mod2_top_text">
                        <h2>新闻资讯</h2>
                    </div>
                    <p>NEWS CENTE</p>
                </div>
                <div class="mod6_content">
                    <div class="mod6_main animate__animated animate__fadeIn" id="mod6_main">
                        <ul id="new_one">
                            {{each result}}
                            <li>
                                <div class="mod6_item clearfix">
                                    <div class="mod6_item_text">
                                        <a href="#" target="_blank">{{$value.mil}}</a>
                                        <a href="#" target="_blank">{{$value.new_name}}</a>
                                    </div>
                                    <div class="mod6_date">{{$value.time}}</div>
                                </div>
                            </li>
                            {{/each}}
                        </ul>
                        <ul id="new_two"></ul>
                    </div>
                </div>
            </div>
            <!-- 代表客户 -->
            <div class="mod7">
                <div class="mod7_div"></div>
                <div class="mod2_top">
                    <div class="mod2_top_text">
                        <h2>代表客户</h2>
                    </div>
                    <p>ON BEHALF OF CLIENTS</p>
                </div>
                <div class="mod7_div1"></div>
                <div class="mod7_content animate__animated animate__bounceInUp">
                    <div class="mod7_main clearfix">
                        <ul>
                            {{each result_img}}
                            <li>
                                <div class="mod7_img">
                                    <div class="mod7_img-div">
                                        <img src="{{$value.img}}" alt="">
                                    </div>
                                </div>
                            </li>
                            {{/each}}
                        </ul>
                    </div>
                </div>
                <div class="mod7_div2"></div>
            </div>
        </div>
        {{/block}}

{{block "script"}}
    <script src="../js/index_foot.js"></script>
{{/block}}

