<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8" />
    <!--设置IE浏览器的渲染模式-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!--设定网页视口大小，即网页宽度默认为设备宽度-->
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>高端装备</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="../node_modules/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../fonts/iconfont.css">
    
    <link rel="stylesheet" href="../tools/css/product-main.css" />
    <!-- HTML5 shim 和 Respond.js 是为了让 IE8 支持 HTML5 元素和媒体查询（media queries）功能 -->
    <!-- 警告：通过 file:// 协议（就是直接将 html 页面拖拽到浏览器中）访问页面时 Respond.js 不起作用 -->
    <!--[if lt IE 9]>
      <script src="https://fastly.jsdelivr.net/npm/html5shiv@3.7.3/dist/html5shiv.min.js"></script>
      <script src="https://fastly.jsdelivr.net/npm/respond.js@1.4.2/dest/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    <!-- banner板块 -->
    <section class="bannerBox">
        <div class="banner">
            <img src='../images/chanpinzhongxin.jpg' />
        </div>
    </section>
    <!-- menu板块 -->
    <div class="w-container">
        <div class="menu-in">
            <div class="sys-title w-dropdown-toggle">
                <div>产品中心</div>
                <span class="iconfont icon-anniu_xiangxia"></span>
            </div>
            <ul class="w-dropdown-menu ">
                <li class="submenu-dropdown-toggle"><a href="lm-product-zhineng.html">智能软件产品</a><span
                        class="glyphicon glyphicon-menu-down"></span></li>
                <div class="submenu">
                    <ul>
                        <li><a href="#">MES制造执行系统</a></li>
                        <li><a href="#">MILO-WMS仓储管理系统</a></li>
                        <li><a href="#">MILO-VMS可视化管理系统</a></li>
                        <li><a href="#">MILO-SIM及时化管理系统</a></li>
                        <li><a href="#">MILO-POM生产运维管理系统</a></li>
                    </ul>
                </div>
                <li class="submenu-dropdown-toggle"><a href="lm-product-gaoduan.html">高端装备</a><span
                        class="glyphicon glyphicon-menu-down"></span></li>
                <div class="submenu">
                    <ul>
                        <li><a href="#">STOROBOT仓储机器人</a></li>
                        <li><a href="#">RAILROBOT穿梭机器人</a></li>
                    </ul>
                </div>
                <li class="submenu-dropdown-toggle"><a href="lm-product-xitong.html">系统产品</a><span
                        class="glyphicon glyphicon-menu-down"></span></li>
                <div class="submenu">
                    <ul>
                        <li><a href="#">自动仓储系统</a></li>
                        <li><a href="#">机器换人系统</a></li>
                        <li><a href="#">输送系统</a></li>
                    </ul>
                </div>
            </ul>
        </div>
        <div class="menu">
            <ul class="ulParent">
                <li class="liParent">
                    <div class="divParent"><a href="#">智能软件产品</a></div>
                </li>
                <li class="liParent">
                    <div class="divParent"><a href="#">高端装备</a></div>
                </li>
                <li class="liParent">
                    <div class="divParent"><a href="#">系统产品</a></div>
                </li>
            </ul>
        </div>
    </div>
    <!-- menu-list板块 -->
    <div class="w-container">
        <div class="menu-list">
            <div class="page-direction">您当前的位置：<a href="lm-product.html">产品中心</a> &gt; 高端装备</div>
            <div class="prd row clearfix">
                <a class="prd-target" href="#">
                    <div class="prd-list col-xs-15 col-sm-10  col-lg-6">
                        <div class="imgBox">
                            <div class="img" title="仓储机器人"></div>
                        </div>
                        <h2 class="prd-msg" title="仓储机器人">仓储机器人</h2>
                    </div>
                </a>
                <a class="prd-target" href="#">
                    <div class="prd-list col-xs-15 col-sm-10  col-lg-6">
                        <div class="imgBox">
                            <div class="img" title="穿梭机器人"></div>
                        </div>
                        <h2 class="prd-msg" title="穿梭机器人">穿梭机器人</h2>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <!-- jQuery (Bootstrap 的所有 JavaScript 插件都依赖 jQuery，所以必须放在前边) -->
    <!-- jQuery (Bootstrap 的所有 JavaScript 插件都依赖 jQuery，所以必须放在前边) -->
    <script src="https://fastly.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js"
        integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ"
        crossorigin="anonymous"></script>
    <!-- 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 -->
    <script src="../node_modules/bootstrap/js/bootstrap.min.js"></script>

    <script src="../tools/js/product.js"></script>
</body>

</html>