
{{extend "./layout/layout.html"}}
{{block "head"}}
<title>产品中心</title>
<link rel="stylesheet" href="/fonts/iconfont.css">
<link rel="stylesheet" href="/tools/css/product-main.css" />
<link rel="stylesheet" href="../css/index.css">
{{/block}}

        {{block "content"}}
         <!-- banner板块 -->
    <section class="bannerBox">
        <div class="banner">
            <img src='/images/chanpinzhongxin.jpg' />
        </div>
    </section>
    <!-- menu板块 -->
    <div class="w-container">
        <div class="menu-in">
            <div class="sys-title w-dropdown-toggle">
                <div>产品中心</div>
                <span class="iconfont icon-anniu_xiangxia"></span>
            </div>
            <ul class="w-dropdown-menu ">
                <li class="submenu-dropdown-toggle"><a href="lm-product-zhineng.html">智能软件产品</a><span
                        class="glyphicon glyphicon-menu-down"></span></li>
                <div class="submenu">
                    <ul>
                        <li><a href="#">MES制造执行系统</a></li>
                        <li><a href="#">MILO-WMS仓储管理系统</a></li>
                        <li><a href="#">MILO-VMS可视化管理系统</a></li>
                        <li><a href="#">MILO-SIM及时化管理系统</a></li>
                        <li><a href="#">MILO-POM生产运维管理系统</a></li>
                    </ul>
                </div>
                <li class="submenu-dropdown-toggle"><a href="lm-product-gaoduan.html">高端装备</a><span
                        class="glyphicon glyphicon-menu-down"></span></li>
                <div class="submenu">
                    <ul>
                        <li><a href="#">STOROBOT仓储机器人</a></li>
                        <li><a href="#">RAILROBOT穿梭机器人</a></li>
                    </ul>
                </div>
                <li class="submenu-dropdown-toggle"><a href="lm-product-xitong.html">系统产品</a><span
                        class="glyphicon glyphicon-menu-down"></span></li>
                <div class="submenu">
                    <ul>
                        <li><a href="#">自动仓储系统</a></li>
                        <li><a href="#">机器换人系统</a></li>
                        <li><a href="#">输送系统</a></li>
                    </ul>
                </div>
            </ul>
        </div>
        <div class="menu">
            <ul class="ulParent">
                <li class="liParent">
                    <div class="divParent"><a href="#">智能软件产品</a></div>
                </li>
                <li class="liParent">
                    <div class="divParent"><a href="#">高端装备</a></div>
                </li>
                <li class="liParent">
                    <div class="divParent"><a href="#">系统产品</a></div>
                </li>
            </ul>
        </div>
    </div>
    <!-- menu-list板块 -->
    <div class="w-container">
        <div class="menu-list">
            <div class="page-direction" data-toggle="dropdown">您当前的位置：<a href="lm-product.html">产品中心</a></div>
            <div class="prd row clearfix">
                <a class="prd-target" href="#">
                    <div class="prd-list col-xs-15 col-sm-10  col-lg-6">
                        <div class="imgBox">
                            <div class="img" title="制造执行系统"></div>
                        </div>
                        <h2 class="prd-msg" title="制造执行系统">制造执行系统</h2>
                    </div>
                </a>
                <a class="prd-target" href="#">
                    <div class="prd-list col-xs-15 col-sm-10  col-lg-6">
                        <div class="imgBox">
                            <div class="img" title="仓储管理系统"></div>
                        </div>
                        <h2 class="prd-msg" title="仓储管理系统">仓储管理系统</h2>
                    </div>
                </a>
                <a class="prd-target" href="#">
                    <div class="prd-list col-xs-15 col-sm-10  col-lg-6">
                        <div class="imgBox">
                            <div class="img" title="可视化管理系统"></div>
                        </div>
                        <h2 class="prd-msg" title="可视化管理系统">可视化管理系统</h2>
                    </div>
                </a>
                <a class="prd-target" href="#">
                    <div class="prd-list col-xs-15 col-sm-10  col-lg-6">
                        <div class="imgBox">
                            <div class="img" title="及时化管理系统"></div>
                        </div>
                        <h2 class="prd-msg" title="及时化管理系统">及时化管理系统</h2>
                    </div>
                </a>
                <a class="prd-target" href="#">
                    <div class="prd-list col-xs-15 col-sm-10  col-lg-6">
                        <div class="imgBox">
                            <div class="img" title="生产运维管理系统"></div>
                        </div>
                        <h2 class="prd-msg" title="生产运维管理系统">生产运维管理系统</h2>
                    </div>
                </a>
                <a class="prd-target" href="#">
                    <div class="prd-list col-xs-15 col-sm-10  col-lg-6">
                        <div class="imgBox">
                            <div class="img" title="仓储机器人"></div>
                        </div>
                        <h2 class="prd-msg" title="仓储机器人">仓储机器人</h2>
                    </div>
                </a>
                <a class="prd-target" href="#">
                    <div class="prd-list col-xs-15 col-sm-10  col-lg-6">
                        <div class="imgBox">
                            <div class="img" title="穿梭机器人"></div>
                        </div>
                        <h2 class="prd-msg" title="穿梭机器人">穿梭机器人</h2>
                    </div>
                </a>
                <a class="prd-target" href="#">
                    <div class="prd-list col-xs-15 col-sm-10  col-lg-6">
                        <div class="imgBox">
                            <div class="img" title="自动仓储系统"></div>
                        </div>

                        <h2 class="prd-msg" title="自动仓储系统">自动仓储系统</h2>
                    </div>
                </a>
                <a class="prd-target" href="#">
                    <div class="prd-list col-xs-15 col-sm-10  col-lg-6">
                        <div class="imgBox">
                            <div class="img" title="机器换人系统"></div>
                        </div>
                        <h2 class="prd-msg" title="机器换人系统">机器换人系统</h2>
                    </div>
                </a>
                <a class="prd-target" href="#">
                    <div class="prd-list col-xs-15 col-sm-10  col-lg-6">
                        <div class="imgBox">
                            <div class="img" title="输送系统"></div>
                        </div>
                        <h2 class="prd-msg" title="输送系统">输送系统</h2>
                    </div>
                </a>
            </div>
        </div>
    </div>
        {{/block}}

{{block "script"}}
<script src="/tools/js/product.js"></script>
<script src="../js/index_top.js"></script>
{{/block}}
