{{extend "./layout/layout.html"}}
{{block "head"}}
<title>离散制造</title>
<link rel="stylesheet" href="./css/details.css">
{{/block}}
{{block "content"}}
    <div class="body" style="padding-top:178px">
        <!-- 图片 -->
        <section class="w-container bannerBox">
            <div class="banner" style="height: auto;">
                <img src="../images/解决方案.jpg" alt="">
            </div>
        </section>
        <div class="w-container w-main" style="min-height: 0px;">
            <div class="row">
                <div class="wrap-content-in w-system w-productcom">
                    <div class="w-system-in clearfix">
                        <!-- 新闻左侧列表分类 -->
                        <div class="w-com-menu w-com-menu-H">
                            <div class="w-com-menu-in">
                                <div class="systitle">
                                    <div class="systitle-in">解决方案</div>
                                    <i class="fa icon_menuControl"></i>
                                </div>
                                <ul class="ul-parent clearfix">
                                    <li class="li-parent">
                                        <div class="div-parent">
                                            <a href="/mlDetails1">MES生产制造执行系统</a>
                                            <span class="menu_simpline_cur"></span>
                                        </div>
                                    </li>

                                    <li class="li-parent">
                                        <div class="div-parent">
                                            <a href="/mlDetails2">汽车行业</a>
                                            <span class="menu_simpline_cur"></span>
                                        </div>
                                    </li>

                                    <li class="li-parent">
                                        <div class="div-parent">
                                            <a href="/mlDetails3">橡塑制品行业</a>
                                            <span class="menu_simpline_cur"></span>
                                        </div>
                                    </li>

                                    <li class="li-parent">
                                        <div class="div-parent">
                                            <a href="/mlDetails4">电力成套行业</a>
                                            <span class="menu_simpline_cur"></span>
                                        </div>
                                    </li>

                                    <li class="li-parent">
                                        <div class="div-parent">
                                            <a href="/mlDetails5">模具行业</a>
                                            <span class="menu_simpline_cur"></span>
                                        </div>
                                    </li>

                                    <li class="li-parent">
                                        <div class="div-parent">
                                            <a href="/mlDetails6">新能源行业</a>
                                            <span class="menu_simpline_cur"></span>
                                        </div>
                                    </li>

                                    <li class="li-parent">
                                        <div class="div-parent">
                                            <a href="/mlDetails7">离散制造</a>
                                            <span class="menu_simpline_cur"></span>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- 新闻列表 -->
                    <div>
                        <div class="crumbs">
                            <div class="crumbs_in">
                                您当前的位置: &nbsp;
                                <a href="/details">解决方案</a> &nbsp;<span>&gt; &nbsp;离散制造</span>
                            </div>
                        </div>
                        <div class="w-News-list w-News-list9">
                            <div class="w-News-list-in clearfix">
                                <ul class="clearfix">
                                    {{if solutions.length}}
                                    {{each solutions}}
                                    <li>
                                        <a target="_self" href="#">
                                            <div class="news-item clearfix">
                                                <div class="news-imgbox img-count">
                                                    <div class="aspectRatio" style="padding-bottom: 75%;"></div>
                                                    <div class="img-count-in">
                                                        <img src="{{$value.img1}}" alt=""
                                                            style="width: 307.662px; max-width: 307.662px; left: -22.3308px; top: 0px;">
                                                    </div>
                                                </div>
                                                <div class="news-com">
                                                    <div class="text_con">
                                                        <div class="news-h" title="{{$value.title}}">{{$value.title}}
                                                        </div>
                                                        <div class="news-sum">解决方案：{{$value.solution1}}</div>
                                                        <div class="adore"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                    {{/each}}
                                    {{else}}
                                    没有数据
                                    {{/if}}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{{/block}}