{{extend "./layout/layout.html"}}
{{block "head"}}
    <title>当互联网遇上先进制造业，7张图看懂国务院定下的一个大目标</title>
    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/">
    <link rel="stylesheet" href="/css/news2.css">
    
    {{/block}}

    {{block "content"}}
    <section class="banner-box">
        <div class="banner">
            <img src="/image/1.jpg" />
        </div>
    </section>
    <div class="container cc-main">
        <div class="cc-newsDetail">
            <div class="cc-news-top">
                <h1 class="cc-news-title">当互联网遇上先进制造业，7张图看懂国务院定下的一个大目标</h1>
                <div class="cc-newsST">
                    <span class="cc-newsSec">栏目：米洛动态</span>
                    <span class="cc-Time">发布时间：2020-04-18
                    </span>
                </div>
                <div class="bshare-custom">
                    <a title="分享到QQ空间" class="bshare-qzone"></a>
                    <a title="分享到新浪微博" class="bshare-sinaminiblog"></a>
                    <a title="分享到人人网" class="bshare-renren"></a>
                    <a title="分享到腾讯微博" class="bshare-qqmb"></a>
                    <a title="分享到网易微博" class="bshare-neteasemb"></a>
                    <a title="更多平台" class="bshare-more bshare-more-icon more-style-addthis"></a>
                </div>
            </div>
            <div class="cc-news-content">
                <div class="newsContent">
                    <div class="newsContent-in">
                        <p style="text-align: center;"><img
                                src="/image/20-01.png" /><br /><img
                                src="/image/20-02.png" /><br /><img
                                src="/image/20-03.png" /><br /><img
                                src="/image/20-04.png" /><br /><img
                                src="/image/20-05.png" /><br /><img
                                src="/image/20-06.png" /><br />
                        </p>
                    </div>
                </div>
            </div>
            <div class="cc-news-others">
                <div class="cc-pre-next">
                    <div class="cc-news-prev">
                        上一篇：
                        <a href="/news-19">达摩院公布2020十大科技趋势 工业互联网将迎来超融合</a>
                    </div>
                    <div class="cc-news-next">
                        下一篇：
                        <a href="/news-21">换了机器人不等于建成智能工厂</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{/block}}