{{extend "./layout/layout.html"}}
{{block "head"}}
    <title>2020年度公司年中总结大会</title>
    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/">
    <link rel="stylesheet" href="/css/news2.css">
    
    {{/block}}

    {{block "content"}}
    <section class="banner-box">
        <div class="banner">
            <img src="/image/1.jpg" />
        </div>
    </section>
    <div class="container cc-main">
        <div class="cc-newsDetail">
            <div class="cc-news-top">
                <h1 class="cc-news-title">2020年度公司年中总结大会</h1>
                <div class="cc-newsST">
                    <span class="cc-newsSec">栏目：米洛动态</span>
                    <span class="cc-Time">发布时间：2020-07-03
                    </span>
                </div>
                <div class="bshare-custom">
                    <a title="分享到QQ空间" class="bshare-qzone"></a>
                    <a title="分享到新浪微博" class="bshare-sinaminiblog"></a>
                    <a title="分享到人人网" class="bshare-renren"></a>
                    <a title="分享到腾讯微博" class="bshare-qqmb"></a>
                    <a title="分享到网易微博" class="bshare-neteasemb"></a>
                    <a title="更多平台" class="bshare-more bshare-more-icon more-style-addthis"></a>
                </div>
            </div>
            <div class="cc-news-content">
                <div class="newsContent">
                    <div class="newsContent-in">
                        <p>时光荏苒，岁月匆匆，转眼间2020半年已经过去。回首往昔，我们硕果累累，我们热情洋溢；坚定现在，我们信心满满，我们激情澎湃；展望未来，我们生机勃勃，斗志昂扬。7月3日公司召开各部门年中工作总结会议，总结2020年上半年的工作，强调部署下半年的工作重点及任务。<br /><img
                                src="/image/12-01.png" /></p>
                    </div>
                </div>
            </div>
            <div class="cc-news-others">
                <div class="cc-pre-next">
                    <div class="cc-news-prev">
                        上一篇：
                        <a href="/news-11">丰茂WMS项目启动大会圆满召开</a>
                    </div>
                    <div class="cc-news-next">
                        下一篇：
                        <a href="/news-13">“羽”你相约——无锡米洛首届羽毛球锦标赛</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{/block}}