{{extend "./layout/layout.html"}}
{{block "head"}}
    <title>经发局领导莅临无锡米洛调研指导工作</title>
    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/">
    <link rel="stylesheet" href="/css/news2.css">
    
    {{/block}}

    {{block "content"}}
    <section class="banner-box">
        <div class="banner">
            <img src="/image/1.jpg" />
        </div>
    </section>
    <div class="container cc-main">
        <div class="cc-newsDetail">
            <div class="cc-news-top">
                <h1 class="cc-news-title">经发局领导莅临无锡米洛调研指导工作</h1>
                <div class="cc-newsST">
                    <span class="cc-newsSec">栏目：米洛动态</span>
                    <span class="cc-Time">发布时间：2021-09-10</span>
                </div>
                <div class="bshare-custom">
                    <a title="分享到QQ空间" class="bshare-qzone"></a>
                    <a title="分享到新浪微博" class="bshare-sinaminiblog"></a>
                    <a title="分享到人人网" class="bshare-renren"></a>
                    <a title="分享到腾讯微博" class="bshare-qqmb"></a>
                    <a title="分享到网易微博" class="bshare-neteasemb"></a>
                    <a title="更多平台" class="bshare-more bshare-more-icon more-style-addthis"></a>
                </div>
            </div>
            <div class="cc-news-content">
                <div class="newsContent">
                    <div class="newsContent-in">
                        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2021年9月10日，经发局领导一行来到我们米洛公司，就相关情况作走访调研工作。我司总经理吕总和财务部门经理参与了此次调研。</p>
                        <p><img src="/image/03-01.png" width="327" height="374"
                                style="width: 327px; height: 374px;" /><img
                                src="/image/03-02.png" width="306" height="374"
                                style="width: 306px; height: 374px;" /><br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;吕总向前来走访调研的领导们介绍了公司发展历程、业务经营情况、公司产值税收等情况。此外，针对公司在经营过程中面临的困难和问题，吕总也提出了具体的诉求。在场领导作了认真记录及耐心回复。领导们也表示，吕总提出的诉求很具体，也具有一定代表性，会尽快整理反馈并进行解决。后续仍将开展类似的走访调研，希望和企业保持长期沟通，随时得到企业的反馈，及时解决企业的诉求。给政府点赞！
                        </p>
                        <p><br /></p>
                    </div>
                </div>
            </div>
            <div class="cc-news-others">
                <div class="cc-pre-next">
                    <div class="cc-news-prev">
                        上一篇：
                        <a href="/news-02">不负好时光，米洛员工秋日旅行Fun肆玩</a>
                    </div>
                    <div class="cc-news-next">
                        下一篇：
                        <a href="/news-04">2021年半年度工作会暨新晋管理人员聘任仪式</a>
                    </div>
                </div>
            </div>
        </div>
    </div>


    {{/block}}
