{{extend "./layout/layout.html"}}
{{block "head"}}
    <title>宁波丰茂远东橡胶有限公司考察常熟开关智能仓库移动物流WMS项目</title>
    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/">
    <link rel="stylesheet" href="/css/news2.css">
    
    {{/block}}

    {{block "content"}}
    <section class="banner-box">
        <div class="banner">
            <img src="/image/1.jpg" />
        </div>
    </section>
    <div class="container cc-main">
        <div class="cc-newsDetail">
            <div class="cc-news-top">
                <h1 class="cc-news-title">宁波丰茂远东橡胶有限公司考察常熟开关智能仓库移动物流WMS项目</h1>
                <div class="cc-newsST">
                    <span class="cc-newsSec">栏目：米洛动态</span>
                    <span class="cc-Time">发布时间：2020-05-29
                    </span>
                </div>
                <div class="bshare-custom">
                    <a title="分享到QQ空间" class="bshare-qzone"></a>
                    <a title="分享到新浪微博" class="bshare-sinaminiblog"></a>
                    <a title="分享到人人网" class="bshare-renren"></a>
                    <a title="分享到腾讯微博" class="bshare-qqmb"></a>
                    <a title="分享到网易微博" class="bshare-neteasemb"></a>
                    <a title="更多平台" class="bshare-more bshare-more-icon more-style-addthis"></a>
                </div>
            </div>
            <div class="cc-news-content">
                <div class="newsContent">
                    <div class="newsContent-in">
                        <p>&nbsp;&nbsp;&nbsp;&nbsp;2020.5.27宁波丰茂远东橡胶有限公司王总协同技术总监等实地参观考察了我司在常熟开关厂的智能仓库移动物流WMS项目，优质的产品和服务，雄厚的公司资质和信誉，良好的行业发展前景，是吸引此次客户到访的重要原因。<br />&nbsp;&nbsp;&nbsp;&nbsp;销售经理刘总代表公司对王总一行的到来表示热烈欢迎，陪同客户先后参观了公司，了解了公司的发展过程，并详细介绍了公司产品及售后服务等情况，对客户提出的各类问题详细解答。参观过后，客户对公司有序的生产流程、严格的质量控制、和谐的工作氛围留下了深刻的印象，对于我公司产品给予充分肯定，并就双方未来合作事宜进行了深入探讨，希望能在未来拟合作项目中实现互补双赢、共同发展！
                        </p>
                        <p><img src="/image/14-01.jpg" width="335" height="407"
                                style="width: 335px; height: 407px;" /></p>
                    </div>
                </div>
            </div>
            <div class="cc-news-others">
                <div class="cc-pre-next">
                    <div class="cc-news-prev">
                        上一篇：
                        <a href="/news-13">“羽”你相约——无锡米洛首届羽毛球锦标赛</a>
                    </div>
                    <div class="cc-news-next">
                        下一篇：
                        <a href="/news-15">风雨同舟，聚力抗疫</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{/block}}