{{extend "./layout/layout.html"}}
{{block "head"}}
    <title>信息化和工业化融合发展规划（2016－2020）</title>
    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/" />
    <link rel="stylesheet" href="/css/news2.css">
    
    {{/block}}

    {{block "content"}}
    <section class="banner-box">
      <div class="banner">
        <img src="/image/1.jpg" />
      </div>
    </section>
    <div class="container cc-main">
      <div class="cc-newsDetail">
        <div class="cc-news-top">
          <h1 class="cc-news-title">
            信息化和工业化融合发展规划（2016－2020）
          </h1>
          <div class="cc-newsST">
            <span class="cc-newsSec">栏目：行业资讯</span>
            <span class="cc-Time">发布时间：2020-04-18</span>
          </div>
          <div class="bshare-custom">
            <a title="分享到QQ空间" class="bshare-qzone"></a>
            <a title="分享到新浪微博" class="bshare-sinaminiblog"></a>
            <a title="分享到人人网" class="bshare-renren"></a>
            <a title="分享到腾讯微博" class="bshare-qqmb"></a>
            <a title="分享到网易微博" class="bshare-neteasemb"></a>
            <a
              title="更多平台"
              class="bshare-more bshare-more-icon more-style-addthis"
            ></a>
          </div>
        </div>
        <div class="cc-news-content" style="margin-top: 35px">
          <p>
            <span
              >十三五”时期是我国全面建成小康社会的决胜阶段，是适应把握引领经济发展新常态的关键时期，是抢占全球新一轮产业竞争制高点的战略机遇期。大力推进信息化和工业化深度融合，加快新旧发展动能和生产体系转换，提高供给体系的质量效率层次，对于推动我国制造业转型升级、重塑国际竞争新优势具有重大战略意义。根据《中华人民共和国国民经济和社会发展第十三个五年规划纲要》，为深入贯彻落实《国务院关于深化制造业与互联网融合发展的指导意见》，协同推进《中国制造2025》和“互联网+”行动计划，编制本规划。</span
            >
          </p>
          <p>
            <span>一、发展形势</span>
          </p>
          <p>
            <span
              >“十二五”期间，我国两化融合顶层设计逐步加强，整体意识日益提高，发展成效不断显现，为制造强国建设奠定了坚实基础。一是两化融合政策体系日臻完善。党中央、国务院先后出台《中国制造2025》、《关于积极推进“互联网+”行动的指导意见》、《关于深化制造业与互联网融合发展的指导意见》、《国家信息化发展战略纲要》等系列文件，两化融合内涵思路不断丰富和创新，覆盖国家、行业、地区的两化融合协同工作机制正在形成。二是两化融合对传统产业提升作用显著。信息技术在企业研发、生产、经营、管理等环节的渗透不断加深，数字化研发设计工具普及率达61.1%，关键工序数控化率达45.4%，制造企业在精益管理、风险管控、供应链协同、市场快速响应等方面的竞争优势不断扩大。三是制造业智能化发展取得新进展。制造企业生产设备智能化改造步伐加快，综合集成水平持续提高，一批企业初步具备了探索智能制造的条件，智能机器人、增材制造、智能家电、智能汽车、可穿戴智能产品、移动智能终端等产业快速发展。四是基于互联网的新模式新业态不断涌现。互联网与制造业的融合发展，催生了网络协同制造、个性化定制、服务型制造等新模式，工业云、工业大数据、工业电子商务等新业态蓬勃发展。五是信息技术产业支撑服务能力进一步夯实。全球规模最大的宽带通信网络基本建成，自主研发的EPA实时以太网、WIA－PA工业无线网络等被纳入工业控制网络国际标准；集成电路、高性能计算、网络通信、基础软件等领域取得突破，云计算、大数据、物联网、移动互联网在重点行业应用不断加深。同时，我国两化融合发展仍存在整体水平不高、第三方公共服务平台支撑不足、核心技术薄弱、融合发展生态环境尚不健全等问题。</span
            >
          </p>
          <p>
            <span>　　</span>
          </p>
          <p>
            <span
              >“十三五”时期，我国两化融合发展环境日益复杂，发展条件和动力发生深刻变革，面临的机遇与挑战并存。一是国际产业格局面临重大调整，围绕抢占制造业发展制高点的竞争愈演愈烈，两化融合发展迎来新空间。为应对新一轮科技革命和产业变革带来的挑战和机遇，以美国工业互联网、德国工业4.0为代表，发达国家纷纷实施以重振制造业为核心的“再工业化”战略，对高端制造业进行再调整再布局，以打造国家制造业竞争新优势。二是产业结构升级和供给结构优化需求迫切，对两化融合发展提出新需求。我国经济发展进入新常态，制造业发展面临资源环境约束强化、要素成本上升、投资出口放缓等挑战，“十三五”时期亟须推动两化深度融合，优化企业资源配置，提升生产经营效率，改善产品品种结构，提高供给结构适应性和灵活性，形成经济增长新动力。三是信息技术高速发展，成为构建新型制造体系的重要力量，给两化融合发展带来新支撑。以云计算、大数据、物联网、移动互联网为代表的新一代信息技术正在向制造业加速渗透融合，工业云、工业互联网、智能设备逐步成为制造业发展新基础，个性化定制、服务型制造成为生产方式变革新趋势，融合创新、系统创新、迭代创新、大众创新等正在成为制造业转型升级新动力。四是工业领域信息安全形势日益严峻，对两化融合发展提出新要求。随着两化融合发展进程不断深入，工业信息系统逐步从单机走向互联、从封闭走向开放，为网络安全威胁向其加速渗透提供了条件，工业领域面临的信息安全形势日益紧迫，急需加速完善工业信息系统安全保障体系。</span
            >
          </p>
          <p>
            <span>　　</span>
          </p>
          <p>
            <span
              >综合判断，我国两化融合发展仍处于大有可为的重要战略机遇期，正进入向纵深发展的新阶段。“十三五”期间，准确把握战略机遇，有效应对各种风险和挑战，通过大力推进两化深度融合，重塑制造业竞争新优势，加快制造强国建设，促进经济社会转型发展，显得尤为重要和紧迫。</span
            >
          </p>
          <p>
            <span>二、指导思想和发展目标</span>
          </p>
          <p>
            <span>（一）指导思想</span>
          </p>
          <p>
            <span
              >全面贯彻党的十八大和十八届三中、四中、五中全会精神，牢固树立创新、协调、绿色、开放、共享的发展理念，围绕供给侧结构性改革需求，以激发制造业创新活力、发展潜力和转型动力为主线，大力促进信息化和工业化深度融合发展，着力打造支撑制造业转型的创业创新平台，积极培育新产品、新技术、新模式、新业态，加快构建支撑融合发展的基础设施体系，增强制造业转型升级新动能，构筑精细、柔性、智能、绿色的新型制造体系，不断提升中国制造全球竞争优势，推动制造强国建设。</span
            >
          </p>
          <p>
            <span>　　</span>
          </p>
          <p>
            <span>（二）基本原则</span>
          </p>
          <p>
            <span>　　</span>
          </p>
          <p>
            <span
              >创新驱动，转型发展。充分发挥新一代信息通信技术聚集、整合、优化要素资源的优势，应用互联网创新理念、创新要素和创新体系，带动制造业技术、产品、模式、机制创新，提高供给质量和效率，激发制造业发展新动能。</span
            >
          </p>
          <p>
            <span>　　</span>
          </p>
          <p>
            <span
              >跨界融合，互动发展。推动制造业与信息产业在发展理念、技术产业、生产体系、业务模式等方面全面融合，以两化融合带动信息产业加速发展，以信息产业支撑两化深度融合。协同推进军工和民用领域的两化融合，加强成果的相互转化和共享利用。</span
            >
          </p>
          <p>
            <span>　　</span>
          </p>
          <p>
            <span
              >分类施策，协调发展。把握新技术在不同环节、行业、领域的扩散规律和应用模式，针对不同企业、行业、区域两化融合发展基础、阶段和水平差异，加快形成方法科学、机制灵活、政策精准的分类推进体系。</span
            >
          </p>
          <p>
            <span>　　</span>
          </p>
          <p>
            <span
              >市场主导，循序发展。把市场对资源配置的决定性作用和更好发挥政府作用有机结合起来，积极完善两化融合政策举措，突出企业主体地位，形成促进公平竞争、激发创新活力、保障循序发展的两化融合市场环境。</span
            >
          </p>
          <p>
            <span>　　</span>
          </p>
          <p>
            <span>（三）发展目标</span>
          </p>
          <p>
            <span>　　</span>
          </p>
          <p>
            <span
              >到2020年，信息化和工业化融合发展水平进一步提高，提升制造业创新发展能力的“双创”体系更加健全，支撑融合发展的基础设施和产业生态日趋完善，制造业数字化、网络化、智能化取得明显进展，新产品、新技术、新模式、新业态不断催生新的增长点，全国两化融合发展指数达到85，比2015年提高约12，进入两化融合集成提升与创新突破阶段的企业比例达30%，比2015年提高约15个百分点。</span
            >
          </p>
          <p>
            <span>　　</span>
          </p>
          <p>
            <span
              >——基于互联网的制造业“双创”体系不断完善。“双创”成为制造业转型发展的新引擎，“双创”服务平台体系支撑能力显著提升，创新资源和服务在线化、平台化和共享水平显著提升。</span
            >
          </p>
          <p>
            <span>　　</span>
          </p>
          <p>
            <span
              >——新型生产模式在重点行业广泛普及。生产方式精细化、柔性化、智能化水平显著提升，关键工序数控化率达50%，网络协同制造、个性化定制、服务型制造成为引领制造业高端化的重要模式，制造企业组织管理模式进一步趋向扁平开放。</span
            >
          </p>
          <p>
            <span>　　</span>
          </p>
          <p>
            <span
              >——基于互联网的服务业态成为新增长点。产品全生命周期管理、工业电子商务等服务新模式新业态蓬勃发展，工业电子商务交易额突破10万亿元。</span
            >
          </p>
          <p>
            <span>　　</span>
          </p>
          <p>
            <span
              >——智能装备和产品自主创新能力快速提升。智能制造关键技术装备、智能制造成套装备、智能产品研发和产业化取得重大突破，新型智能硬件产品和服务市场规模突破万亿元，智能制造系统解决方案能力显著提升。</span
            >
          </p>
          <p>
            <span>　　</span>
          </p>
          <p>
            <span
              >——支撑融合发展的基础设施体系基本建立。自动控制与感知技术研发和产业化取得突破，工业软硬件供给能力稳步提高，工业云与智能服务平台逐步成为智能制造关键应用基础设施，低时延、高可靠、广覆盖、更安全的网络服务支撑能力进一步增强。</span
            >
          </p>
          <p>
            <span>　　</span>
          </p>
          <p>
            <span>三、主要任务</span>
          </p>
          <p>
            <span>　　</span>
          </p>
          <p>
            <span
              >（一）构建基于互联网的制造业“双创”新体系，激发创业创新活力</span
            >
          </p>
          <p>
            <span>　　</span>
          </p>
          <p>
            <span
              >推动大企业“双创”发展。支持大型制造企业建立基于互联网的创业孵化、协同创新、网络众包和投融资等“双创”平台，推动构建基于平台的新型研发、生产、管理和服务模式，激发企业创业创新活力。鼓励大企业面向社会开放平台资源，不断丰富创业孵化、专业咨询、人才培训、检验检测、投融资等服务，促进创新要素集聚发展。围绕打造产业链竞争新优势，推动大企业加强与中小企业的专业分工、服务外包、订单生产等多种形式协作，形成资源富集、创新活跃、高效协同的产业创新集群。</span
            >
          </p>
          <p>
            <span>　　</span>
          </p>
          <p>
            <span
              >构建面向中小企业的“双创”服务体系。完善中小企业“双创”服务体系，支持小型微型企业创业创新基地建设，引导基地向平台化、智慧化、生态化方向发展。完善中小企业公共服务平台网络，发挥国家中小企业公共服务示范平台作用，开展基于互联网的技术创新、智能制造、质量品牌等服务，发展面向中小微企业创业创新的信息化应用服务。支持建设“创客中国”创业创新平台。积极发展众创、众包、众扶、众筹等新模式，以及创客空间、创新工场、开源社区等新型众创空间，培育形成低门槛、广覆盖、有活力的“双创”生态系统，促进生产与需求对接、传统产业与新兴产业融合、大企业与中小企业合作。</span
            >
          </p>
          <p>
            <span>　　</span>
          </p>
          <p>
            <span
              >发展新型研发创新服务。加快制造业创新中心建设，推动共性和前沿技术研发、转移扩散和首次商业化应用，打造贯穿创新链、产业链的创新生态系统。推动检验检测、测试认证、知识产权、技术交易等专业研发服务的在线化和平台化，促进研发成果转化和市场拓展。加强产学研合作，利用移动互联网、云计算、大数据等新一代信息技术及平台，发展虚拟在线、敏捷高效、按需供给的新型研发服务。</span
            >
          </p>
          <p>
            <span>　　</span>
          </p>
          <p>
            <span>（二）推广网络化生产新模式，引领生产方式持续变革</span>
          </p>
          <p>
            <span>　　</span>
          </p>
          <p>
            <span
              >大力发展智能工厂。加快机械、船舶、汽车、家电等离散行业生产装备智能化改造，推动全面感知、设备互联、数据集成、智能管控，促进生产过程的精准化、柔性化、敏捷化。加强石化化工、钢铁、有色、建材等流程行业先进过程控制和制造执行系统的全面部署和优化升级，推进能源管理中心建设，实现生产过程的集约高效、动态优化、安全可靠和绿色低碳。</span
            >
          </p>
          <p>
            <span>　　</span>
          </p>
          <p>
            <span
              >推进网络协同制造。加快网络、控制系统、管理软件和数据平台的纵向集成，促进研发设计、智能装备、生产制造、检验验证、经营管理、市场营销等环节的无缝衔接和综合集成，实现全流程信息共享和业务协同。推动企业间研发设计、客户关系管理、供应链管理和营销服务等系统的横向集成，推进协同制造平台建设，提升产业链上下游企业间设计、制造、商务和资源协同能力。</span
            >
          </p>
          <p>
            <span>　　</span>
          </p>
          <p>
            <span
              >推广个性化定制。推动家电、家具、服装、家纺、建材家居等行业发展动态感知、实时响应消费需求的大规模个性化定制模式。鼓励飞机、船舶等行业提升高端产品和装备模块化设计、柔性化制造、定制化服务能力。支持发展面向中小企业的工业设计、快速原型、模具开发和产品定制等在线服务，培育“互联网+”新型手工作坊等小批量个性化定制模式。</span
            >
          </p>
          <p>
            <span>　　</span>
          </p>
          <p>
            <span
              >发展服务型制造。积极发展工业设计，推动国家级工业设计中心建设，不断提高面向产品、工艺和服务的自主创新设计能力。鼓励有条件的企业从主要提供产品向提供产品和服务转变。引导轨道交通装备、海洋工程装备、能源电力装备等行业拓展总集成总承包、交钥匙工程和租赁外包等新业务，提高为用户提供专业化系统解决方案能力。推动制造企业开展信息技术、物流、金融等服务业务剥离重组，鼓励合同能源管理、产品回收和再制造、排污权交易、碳交易等专业服务网络化发展。</span
            >
          </p>
          <p>
            <span>　　</span>
          </p>
          <p>
            <span>（三）培育平台化服务新业态，推动产业价值链向高端跃升</span>
          </p>
          <p>
            <span>　　</span>
          </p>
          <p>
            <span
              >培育基于互联网的产品服务。围绕提升智能产品在线服务能力，推动数字内容、电子商务、应用服务等业务资源整合，培育智慧家庭、智能家电、智能穿戴等领域的服务新业态。深化物联网标识解析、工业云服务、工业大数据分析等在重点行业应用，支持食品、药品、危险品、特种设备、绿色建材等行业发展基于产品全生命周期管理的追溯监管、质量控制等服务新模式，构建智能监测监管体系，支持机械、汽车等行业发展产品在线维护、远程运维、智能供应链、协同研发等服务新业态。</span
            >
          </p>
          <p>
            <span>　　</span>
          </p>
          <p>
            <span
              >大力发展工业电子商务。引导大型制造企业采购销售平台向行业电子商务平台转型，提高企业供应链协同水平。引导第三方工业电子商务平台向网上交易、加工配送、技术服务、支付结算、供应链金融、大数据分析等综合服务延伸，提升平台运营服务能力。鼓励发展跨境工业电子商务，完善通关、检验检疫、结汇、退税等关键环节“单一窗口”综合服务体系。推动建设集信息发布、在线交易、数据分析、跟踪追溯等功能为一体的智能物流平台，提高面向工业领域供应链协同需求的物流响应能力。</span
            >
          </p>
          <p>
            <span>　　</span>
          </p>
          <p>
            <span>（四）营造跨界融合新生态，提高行业融合创新能力</span>
          </p>
          <p>
            <span>　　</span>
          </p>
          <p>
            <span
              >提升系统解决方案能力。开展信息物理系统（CPS）架构、模型、数据和数据链等基础关键标准研究，突破物理仿真、实时传感、智能控制、人机交互、系统自治等关键核心技术。构建信息物理系统（CPS）应用测试验证平台及具有综合验证能力的试验床，组织开展信息物理系统（CPS）行业应用试点示范。面向重点行业智能制造单元、智能生产线、智能车间、智能工厂建设，加快培育本土系统解决方案提供商，加强适应重点行业特点和需求的优秀解决方案研发和推广普及。</span
            >
          </p>
          <p>
            <span>　　</span>
          </p>
          <p>
            <span
              >创新跨界融合发展模式。支持互联网企业与制造企业合作，构建智能汽车、智能家电、数控机床、智能机器人等领域新的技术体系、标准规范、商业模式和产业生态。推动中小企业制造资源与互联网平台全面对接，实现研发设计、生产制造和物流配送等能力的在线发布、协同和交易，提升中小企业精准、柔性、高效的供给能力。支持制造企业与电子商务企业、物流企业、金融企业开展战略投资、品牌培育、网上销售、物流配送、供应链金融等领域的合作，整合线上线下交易资源，打造制造、商贸、物流、金融等高效协同的生产流通一体化新生态。</span
            >
          </p>
          <p>
            <span>　　</span>
          </p>
          <p>
            <span
              >加快智慧集群建设。围绕制造业集聚区的集约化、网络化、品牌化提升改造，加快电网、管网、交通、安防和通信网络等配套设施改造，实施“互联网+”产业集群行动，鼓励和支持有条件的地区开展智慧集群建设和试点，推动产品研发设计工具、生产设备及零配件等资源共享，实现制造业产业集群制造资源在线化、产能柔性化、产业链协同化，打造智慧集群。支持有条件的地方开展制造业与互联网融合政策创新试点，探索行业监管、数据开放、公共服务、人才培养等推进机制，形成制造业区域发展新模式。</span
            >
          </p>
          <p>
            <span>　　</span>
          </p>
          <p>
            <span>（五）普及两化融合管理体系标准，创新企业组织管理模式</span>
          </p>
          <p>
            <span>　　</span>
          </p>
          <p>
            <span
              >加快两化融合管理体系标准普及推广。完善两化融合管理体系基础标准，制定分类标准、组织管理变革工具和方法等新标准，研究制定引导企业互联网转型的新型能力框架体系和参考模型。组织实施两化融合管理体系实施与推广，分行业、分领域培育一批示范企业，加快构建开放式、扁平化、平台化的组织管理新模式，打造基于标准引领、创新驱动的企业核心竞争力。完善两化融合管理体系市场化服务体系，建立线上线下协同推进机制，加强政策引导和资金支持，加快形成两化融合管理体系评定结果的市场化采信机制。</span
            >
          </p>
          <p>
            <span>　　</span>
          </p>
          <p>
            <span
              >持续开展两化融合评估诊断和对标引导。结合智能制造和“互联网+”新趋势，优化企业两化融合评估指标体系和评估模型，完善国家、地方政府、企业等多层次的两化融合评估协同工作体系。建设企业两化融合评估大数据平台，周期性组织开展企业两化融合自评估、自诊断、自对标，围绕两化融合现状识别、效益分析、问题诊断、趋势预测等，形成区域、行业、企业等两化融合数据地图，提高政府精准施策、机构精准服务、企业精准决策水平。</span
            >
          </p>
          <p>
            <span>　　</span>
          </p>
          <p>
            <span>（六）发展智能装备和产品，增强产业核心竞争力</span>
          </p>
          <p>
            <span>　　</span>
          </p>
          <p>
            <span
              >加快发展智能新产品。围绕构建支撑智能硬件产业化发展的技术体系，推动低功耗CPU、高精度传感器、新型显示器件、轻量级操作系统等智能产业共性关键技术攻关，促进创新成果快速转化。支持重点领域智能产品、集成开发平台和解决方案的研发和产业化，支持虚拟现实、人工智能核心技术突破以及产品与应用创新。发展智能汽车、智慧医疗、智慧交通、智能建材家居等新型智能产品的测试验证环境、示范运行场景和基础数据平台，提升检测认证公共服务能力。</span
            >
          </p>
          <p>
            <span>　　</span>
          </p>
          <p>
            <span
              >做强智能制造关键技术装备。加快推动高档数控机床、工业机器人、增材制造装备、智能检测与装配装备、智能物流与仓储系统装备等关键技术装备的工程应用和产业化。优先支持航空航天、海洋工程、新材料等重点领域智能制造成套装备的研发和产业化，加快传统制造业生产设备的数字化、网络化和智能化改造。</span
            >
          </p>
          <p>
            <span>　　</span>
          </p>
          <p>
            <span>（七）完善基础设施体系，提升支撑服务能力</span>
          </p>
          <p>
            <span>　　</span>
          </p>
          <p>
            <span
              >夯实自动控制与感知技术基础。加强传感器关键技术研发和产业化发展，提升传感器智能化、微型化和集成化水平。突破工业控制系统中核心芯片、伺服电机、驱动器、现场总线、工业以太网等关键器件和技术的发展瓶颈，加快推动可编程逻辑控制器、分布式控制系统、工控机系统以及数据采集与监视控制系统等研发和产业化。加快工艺过程控制、特殊控制模块等核心芯片产业化，推进相关领域嵌入式处理器的研发和规模应用。</span
            >
          </p>
          <p>
            <span>　　</span>
          </p>
          <p>
            <span
              >发展核心工业软硬件。突破虚拟仿真、人机交互、系统自治等关键共性技术发展瓶颈，夯实核心驱动控制软件、实时数据库、嵌入式系统等产业基础。提升计算机辅助设计与仿真、制造执行系统、企业资源计划、供应链管理、客户关系管理、产品全生命周期管理等系统软件的研发和产业化能力，加强软件定义和支撑制造业的基础性作用。支持信息物理系统（CPS）关键技术、网络、平台、应用环境的兼容适配、互联互通和互操作测试验证，推动工业软硬件与工业大数据平台、工业互联网、工业信息安全系统和智能装备的集成应用。</span
            >
          </p>
          <p>
            <span>　　</span>
          </p>
          <p>
            <span
              >提升工业云与大数据服务能力。围绕智能装备接入工业云的数据采集、网络连接和调度管理等重点环节，突破通信协议、数据接口、数据分析等关键技术，提升工业云平台系统解决方案供给能力。创新工业云服务内容与模式，推动工业设计模型、数字化模具、产品和装备维护知识库等制造资源集聚、开放和共享，鼓励培育基于工业云的新型生产组织模式。加快基于接口协议开放、数据全面集成、行业应用模型和开发工具共享的工业数据服务平台研发和推广应用，推动大数据在工业设计、生产制造、售后服务等产品全生命周期的应用，形成一批工业大数据解决方案，构建以新型工业操作系统和工业APP架构为核心的智能服务生态。</span
            >
          </p>
          <p>
            <span>　　</span>
          </p>
          <p>
            <span
              >推动工业互联网建设。提升宽带网络能力，积极部署全光网，推进5G规模试验网建设和试商用进程。以下一代互联网示范城市、LTEv6工程为抓手，推动IPv6在物联网、移动互联网中的应用。持续优化互联网骨干网，实现国内骨干直联点与交换中心协同发展，扩大内容分发网络覆盖范围，提升内容分发能力。推动工业互联网创新发展，开展工业互联网技术试验验证、工业互联网标识解析系统建设、工业互联网IPv6应用部署、工业互联网管理支撑平台等工作。加快推进工业以太网、短距离无线通信、4G/5G等新一代工业互联网设备、技术研发与产业化。研究制定工业互联网网络安全防护标准，加强工业互联网网络侧安全技术手段建设，建立健全工业互联网网络安全保障体系。</span
            >
          </p>
          <p>
            <span>　　</span>
          </p>
          <p>
            <span
              >逐步完善工业信息安全保障体系。围绕工控安全监管和企业工控安全防护水平提升，健全政策标准体系，研制工控安全审查、分级评估、智能产品关键信息安全标准及其验证平台。支持国家工业信息安全信息采集报送、在线监测以及测试、评估、验证等平台建设，加快形成工业信息安全信息采集、分析、评估和通报工作体系，建立工业信息安全监管体系。支持研发工业信息系统、产品检测技术和工具，开展社会化工业信息安全测评服务，提高智能工业产品的漏洞可发现、风险可防范能力，建立工业信息安全技术保障体系。推动企业建立工业信息安全保障工作机制。</span
            >
          </p>
          <p>
            <span>　　</span>
          </p>
          <p>
            <span>四、重点工程</span>
          </p>
          <p>
            <span>　　</span>
          </p>
          <p>
            <span>（一）制造业“双创”培育工程</span>
          </p>
          <p>
            <span>　　</span>
          </p>
          <p>
            <span
              >依托重点行业优势企业，在研发创新、协同制造、产品全生命周期管理等领域开展“双创”平台建设及应用推广。支持基础电信企业、大型互联网企业联合共建资源开放、数据共享、创业孵化、在线测试、创业咨询等服务平台，为中小企业及个人开发者开展制造领域创新提供普惠服务。推动有条件的国家新型工业化产业示范基地和产业集聚区结合国家战略布局和产业发展实际，与众创、众包、众扶、众筹等服务资源对接，建设各具特色、虚实结合的众创空间。建设若干国家制造业创新中心，提供虚拟在线、敏捷高效、按需供给的专业化服务。</span
            >
          </p>
          <p>
            <span>　　</span>
          </p>
          <p>
            <span>（二）制造业与互联网融合发展工程</span>
          </p>
          <p>
            <span>　　</span>
          </p>
          <p>
            <span
              >选择有条件的地区、行业、企业，建设多功能、集成化的工业云平台，开展工业云服务创新应用，培育社会化、共享化、网络化服务新模式。聚焦能源精细化管理、供应链金融服务、产品全生命周期质量管理等，开展大数据智能分析平台、开放服务平台等建设及应用，发展大数据智能服务新模式。推动具有行业知名度的大企业开放集采集销平台，实现与供应链上下游企业间的互联互通，发展供需精准对接服务。建设行业性和综合性电子商务平台，支持平台服务向多元化方向延伸，建立和完善工业电子商务运行形势监测分析体系。组织典型案例和经验的总结与推广，大力宣传各地区、各行业和典型企业在推进制造业与互联网融合方面的成功经验和做法。</span
            >
          </p>
          <p>
            <span>　　</span>
          </p>
          <p>
            <span>（三）系统解决方案能力提升工程</span>
          </p>
          <p>
            <span>　　</span>
          </p>
          <p>
            <span
              >研制信息物理系统（CPS）综合标准体系，并进行行业推广应用。以提升系统架构设计、系统集成、综合服务能力为重点，建设信息物理系统（CPS）开发工具、知识库、组件库等通用平台。建设信息物理系统（CPS）测试验证平台和综合验证实验床，开展多元异构数据、网络、平台的兼容适配、互联互通和互操作测试验证。以船舶、机械、汽车等行业为重点，研制精益研发解决方案，建立研发与制造一体化平台，推广虚拟环境中的系统研发设计和验证服务。聚焦石化化工、钢铁、有色、建材、航空、汽车、船舶、家电等行业，研制智能工厂解决方案，完善企业智能化生产体系。针对装备、消费品等行业，研制供应链协同管控解决方案，为企业构建系统化、柔性化、智能化供应链体系提供支撑。</span
            >
          </p>
          <p>
            <span>　　</span>
          </p>
          <p>
            <span>（四）企业管理能力提升工程</span>
          </p>
          <p>
            <span>　　</span>
          </p>
          <p>
            <span
              >分行业、分领域开展两化融合管理体系贯标示范，总结提炼贯标成果和经验，鼓励和推动各地开展省市级贯标试点示范工作，组织开展各类宣贯和培训活动，推动两化融合管理体系贯标由试点推广向全面普及转变。推动企业以管理体系贯标为牵引实现管理模式创新和管理现代化水平提升，培育和提升精益管理、大规模个性化定制、供应链协同、市场快速响应、精准营销等核心竞争能力。培育壮大贯标评定的市场服务队伍，推动完成贯标企业开展评定。健全面向互联网化和智能化发展需求的两化融合评估体系，依托中国两化融合服务平台建设两化融合大数据平台，每年推动各省级单位组织辖区内企业开展周期性两化融合自评估、自诊断与自对标。</span
            >
          </p>
          <p>
            <span>　　</span>
          </p>
          <p>
            <span>（五）核心技术研发和产业化工程</span>
          </p>
          <p>
            <span>　　</span>
          </p>
          <p>
            <span
              >围绕重大装备和产品智能化需求，搭建技术联合攻关平台，支持自动控制和智能感知设备及系统、核心芯片技术、以及新型显示系统的研发和产业化。重点扶持安全可控的工业基础软硬件、高端行业应用软件、嵌入式系统、新型工业APP应用平台、工业互联网网络设备、工控安全防护产品发展。支持企业探索工业互联网应用创新，开展工厂内外网络技术及互联互通、无线工厂、标识解析、IPv6等方面的应用示范。支持信息技术服务在个性化定制、产品全生命周期管理、网络精准营销和在线支持等领域的应用。</span
            >
          </p>
          <p>
            <span>　　</span>
          </p>
          <p>
            <span>（六）工业信息安全保障工程</span>
          </p>
          <p>
            <span>　　</span>
          </p>
          <p>
            <span
              >围绕提升智能装备和产品应用安全水平和智能工厂信息安全保障能力，支持搭建智能产品及装备信息安全测评平台。进一步推动工业防火墙、访问控制等工业信息安全产品在机械、石化化工、钢铁、有色、建材等行业的应用推广，提升工业行业信息安全防护能力。鼓励行业组织、科研机构、骨干企业在重点行业联合开展工业信息安全应急和攻防演练试点，提升工业领域信息系统安全漏洞可发现和风险可防范能力。针对工业领域信息系统的高级可持续威胁，建设工业云、工业大数据信息安全检测和预警平台。</span
            >
          </p>
          <p>
            <span>　　</span>
          </p>
          <p>
            <span>五、保障措施</span>
          </p>
          <p>
            <span>　　</span>
          </p>
          <p>
            <span>（一）健全组织实施机制</span>
          </p>
          <p>
            <span>　　</span>
          </p>
          <p>
            <span
              >建立健全政府、行业、企业、科研院所和第三方咨询服务机构的两化融合协同推进机制，加强相关部门在两化融合发展重大问题、重大政策和重大工程等方面的协调配合。加强组织领导，统一认识，明确职责分工，制定出台配套政策措施，落实规划总体要求、目标和任务。建立两化融合发展的跟踪监测、统计分析、绩效评估、动态调整和监督考核机制，定期开展规划实施的评估考核工作，确保规划得到有效贯彻落实。</span
            >
          </p>
          <p>
            <span>　　</span>
          </p>
          <p>
            <span>（二）加大财税金融支持</span>
          </p>
          <p>
            <span>　　</span>
          </p>
          <p>
            <span
              >充分利用科技重大专项、技术改造资金、工业转型升级资金、专项建设基金等渠道，加大对两化融合共性技术开发、公共平台建设、试点示范项目及两化融合管理体系贯标的支持。完善和落实研发费用加计扣除、高新技术企业、科技企业孵化器等税收优惠政策。积极发挥政策性金融、开发性金融和商业金融的优势，加大对高端装备、智能制造、工业互联网等重点领域的支持力度。引导中央企业创新投资基金、地方产业投资基金和社会资本，支持成套装备、高端智能产品、工业软硬件、工业互联网等重大技术研发、成果转化和并购重组。</span
            >
          </p>
          <p>
            <span>　　</span>
          </p>
          <p>
            <span>（三）建立健全标准体系</span>
          </p>
          <p>
            <span>　　</span>
          </p>
          <p>
            <span
              >整合工业、信息技术、通信领域的标准化资源，加快建立适应制造业与互联网融合发展的标准体系，推动建立跨界融合标准化技术组织。按照急用先行、成熟先上、重点突破的原则，面向重点行业和细分领域制定行业应用规范和实施指南。发挥企业在标准制定中的重要作用，支持组建重点领域标准推进联盟，鼓励制定团体标准，协同推进标准研制。支持骨干企业主导或实质参与国际标准制定，提升国际标准话语权。</span
            >
          </p>
          <p>
            <span>　　</span>
          </p>
          <p>
            <span>（四）完善人才培养体系</span>
          </p>
          <p>
            <span>　　</span>
          </p>
          <p>
            <span
              >完善激励创新的股权、期权等风险共担和收益分享机制，创造有利于两化融合优秀人才脱颖而出的环境。围绕两化融合急需短缺人才，在重点院校、大型企业和产业园区，建设一批产学研相结合的专业人才培训基地。支持高校围绕两化融合人才培育设立相关学科，把两化融合人才培养作为专业技术人员知识更新工程、企业经营管理人才素质提升工程等国家人才培养计划的优先领域。加强中西部地区两化融合人才培养和引进。推广企业首席信息官制度，鼓励企业引入和培养复合型人才，提升信息化与业务部门之间的协同对接能力。</span
            >
          </p>
          <p>
            <span>（五）加强国际合作交流　</span>
          </p>
          <p>
            <span
              >围绕两化融合相关技术研发、标准研制、人才培养、行业应用等领域，积极开展双边、多边国际交流合作。结合“一带一路”等国家重大战略，支持和鼓励制造企业联合互联网、信息通信、金融等领域企业率先“走出去”。支持行业协会、产业联盟与企业在全球范围内共同推广两化融合相关产品、技术、标准、服务，推动两化融合全链条“走出去”。</span
            >
          </p>
          <p>
            <span>&nbsp;</span>
          </p>
          <p><br /></p>
        </div>
        <div class="cc-news-others">
          <div class="cc-pre-next">
            <div class="cc-news-prev">
              上一篇：
              <a href="/news-21">换了机器人不等于建成智能工厂</a>
            </div>
            <div class="cc-news-next">
              下一篇：没有了
            </div>
          </div>
        </div>
      </div>
    </div>
    {{/block}}