{{extend "./layout/layout.html"}}
{{block "head"}}
    <title>不负好时光，米洛员工秋日旅行Fun肆玩</title>
    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/">
    <link rel="stylesheet" href="/css/news2.css">

    {{/block}}

    {{block "content"}}   
    <section class="banner-box">
        <div class="banner">
            <img src="/image/1.jpg" />
        </div>
    </section>
    <div class="container cc-main">
        <div class="cc-newsDetail">
            <div class="cc-news-top">
                <h1 class="cc-news-title">不负好时光，米洛员工秋日旅行Fun肆玩</h1>
                <div class="cc-newsST">
                    <span class="cc-newsSec">栏目：米洛动态</span>
                    <span class="cc-Time">发布时间：2021-11-02</span>
                </div>
                <div class="bshare-custom">
                    <a title="分享到QQ空间" class="bshare-qzone"></a>
                    <a title="分享到新浪微博" class="bshare-sinaminiblog"></a>
                    <a title="分享到人人网" class="bshare-renren"></a>
                    <a title="分享到腾讯微博" class="bshare-qqmb"></a>
                    <a title="分享到网易微博" class="bshare-neteasemb"></a>
                    <a title="更多平台" class="bshare-more bshare-more-icon more-style-addthis"></a>                   
                </div>
            </div>
            <div class="cc-news-content">
                <div class="newsContent">
                    <div class="newsContent-in">
                        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;都说生活不止眼前的工作，还有诗和远方，努力工作的同时也要学会享受生活，在金秋十月为丰富员工业余文化生活，无锡米洛一年一度的员工旅游再度启程！让我们不负秋日好时光！整装！出发！<br />
                        </p>
                        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;受疫情的影响、工作繁忙的影响，但依旧未减弱大家的旅途热情，在此要向还在坚守工作岗位的同事表示感谢，正是他们的付出才让我们大家能够心无旁鹭的出游！<br /><img
                                src="/image/02-01.png" width="261" height="343" vspace="0" title="" alt=""
                                style="width: 261px; height: 343px; border: 0px solid rgb(0, 0, 0);" /><img
                                src="/image/02-02.png" width="261" height="343" vspace="0" title="" alt=""
                                style="width: 261px; height: 343px; border: 0px solid rgb(0, 0, 0);" /><br /><br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;这是一次同事增进感情的团建之旅，也是一场集合大人与孩子的欢乐游园会，米洛人与小米洛人聚集到一起，娱乐休闲，吃喝玩乐，10月29日一场大型秋游正式拉开帷幕！第一天，我们来到了溧阳曹山汽车莱斯房车营地，来了一场红蓝两队的PK赛！真人CS大赛也玩得不亦乐乎！<br /><img
                                src="/image/02-03.png" width="407" height="292"
                                style="width: 407px; height: 292px; border: 0px solid rgb(0, 0, 0);" vspace="0" title=""
                                alt="" /><img src="/image/02-04.png" width="407" height="292" vspace="0" title=""
                                alt="" style="width: 407px; height: 292px; border: 0px solid rgb(0, 0, 0);" /><br /><img
                                src="/image/02-05.png" width="407" height="292" vspace="0" title="" alt=""
                                style="width: 407px; height: 292px; border: 0px solid rgb(0, 0, 0);" /><img
                                src="/image/02-06.png" width="407" height="292" vspace="0" title="" alt=""
                                style="width: 407px; height: 292px; border: 0px solid rgb(0, 0, 0);" /><br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;晚上大家一起K歌、烧烤、狼人杀、包馄饨，来了一场精彩的音乐烧烤晚会，晚会过后，大家入住特色房车民宿，伴随着秋日晚风和阵阵虫鸣大家进入了甜蜜的梦想。<br /><img
                                src="/image/02-07.png" width="407" height="292" vspace="0" title="" alt=""
                                style="width: 407px; height: 292px; border: 0px solid rgb(0, 0, 0);" /><img
                                src="/image/02-08.png" width="407" height="292" vspace="0" title="" alt=""
                                style="width: 407px; height: 292px; border: 0px solid rgb(0, 0, 0);" /><br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;小伙伴，平日里都喜欢运动，都说秋高气爽，最适合登高望远，他们30日一早就向着南山竹海进发啦！3.5万亩翠竹，坐享&quot;天堂南山，梦幻竹海”之美誉，令人心驰神往。景区内峰、峦、岭连绵起伏、高耸秀拔，数万亩竹海倚山抱山、姿态万千，山水相映，风光旖旎。<br /><br /><img
                                src="/image/02-09.png" width="407" height="292" vspace="0" title="" alt=""
                                style="width: 407px; height: 292px; border: 0px solid rgb(0, 0, 0);" /><img
                                src="/image/02-10.png" width="407" height="292" vspace="0" title="" alt=""
                                style="width: 407px; height: 292px; border: 0px solid rgb(0, 0, 0);" /><br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;我们去过的地方、走过的路、看过的风景，都将化为满世繁花，由衷感谢公司提供的出游机会，充满电归来的我们信心满满。未来可期！
                        </p>
                        <p><br /><br /></p>
                    </div>
                </div>
            </div>
            <div class="cc-news-others">
                <div class="cc-pre-next">
                    <div class="cc-news-prev">
                        上一篇：
                        <a href="/news-01">无锡米洛智能2022新春茶话会</a>
                    </div>
                    <div class="cc-news-next">
                        下一篇：
                        <a href="/news-03">经发局领导莅临无锡米洛调研指导工作</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{/block}}