{{extend "./layout/layout.html"}}
{{block "head"}}
    <title>2020年第二季度员工表彰大会</title>
    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/" />
    <link rel="stylesheet" href="/css/news2.css">
    
    {{/block}}

    {{block "content"}}
    <section class="banner-box">
      <div class="banner">
        <img src="/image/1.jpg" />
      </div>
    </section>
    <div class="container cc-main">
      <div class="cc-newsDetail">
        <div class="cc-news-top">
          <h1 class="cc-news-title">2020年第二季度员工表彰大会</h1>
          <div class="cc-newsST">
            <span class="cc-newsSec">栏目：米洛动态</span>
            <span class="cc-Time">发布时间：2020-08-03</span>
          </div>
          <div class="bshare-custom">
            <a title="分享到QQ空间" class="bshare-qzone"></a>
            <a title="分享到新浪微博" class="bshare-sinaminiblog"></a>
            <a title="分享到人人网" class="bshare-renren"></a>
            <a title="分享到腾讯微博" class="bshare-qqmb"></a>
            <a title="分享到网易微博" class="bshare-neteasemb"></a>
            <a title="更多平台" class="bshare-more bshare-more-icon more-style-addthis"></a>                   
        </div>

        </div>
        <div class="cc-news-content" style="margin-top: 35px;">
          <p>
            <span style="font-size: 14px; color: #333; line-height: 25px">
              为激励员工的工作热情，树立标杆的力量，充分挖掘每季度工作表现优异的员工和优秀事迹，2020.8.3下午，综合管理部主导开展了无锡米洛2020年第二季度优秀员工表彰大会及《积分管理制度》宣贯会。
              <br />
            </span>
          </p>
          <p style="line-height: normal; line-height: 25px">
            <span style="font-size: 14px; color: #333">
              会上表彰了本季度各部门先进员工、成长之星、挺身而出者及高绩效团队。综合管理部对《积分管理制度》做了一个全面的宣传，为践行本着“以奋斗者为本，不让雷锋吃亏”的原则，及时表彰员工的突出业绩，认可员工的先进行为，发掘高潜力员工，支撑企业文化落地，塑造自组织体系，引领全体员工精进日新、开拓进取、向上向善打下了坚实的基础。
            </br>
              最简单的往往是最难做到的，但愿我们都坚持自己当初的执着，在自己喜欢的道路上快乐的行走，成败都会坦然。优秀，只是个称号；奋斗，才是永恒的意义。加油吧，米洛人，在这个美好的时代奋勇前行。
            </br>
              </span>
            </br>
          </p>
          <p style="line-height: normal; line-height: 25px">
            <span style="font-size: 14px; color: #333"
              >2020下半年的号角已然响彻米洛，让我们一起与奋斗者同行，去拥抱米洛美好的未来！</span
            >
          </p>
          <p>
          </br>
          </p>
        </div>
        <div class="cc-news-others">
          <div class="cc-pre-next">
              <div class="cc-news-prev">
                  上一篇：
                  <a href="/news-09">喜报！！高速成长、跳跃发展，无锡米洛入选“瞪羚计划”培育企业，实力登榜</a>
              </div>
              <div class="cc-news-next">
                  下一篇：
                  <a href="/news-11">丰茂WMS项目启动大会圆满召开</a>
              </div>
          </div>
      </div>
        </div>
    </div>



    {{/block}}