{{extend "./layout/layout.html"}}
{{block "head"}}
    <title>喜报！！高速成长、跳跃发展，无锡米洛入选“瞪羚计划”培育企业，实力登榜</title>
    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/">
    <link rel="stylesheet" href="/css/news2.css">
    
    {{/block}}

    {{block "content"}}
    <section class="banner-box">
        <div class="banner">
            <img src="/image/1.jpg" />
        </div>
    </section>
    <div class="container cc-main">
        <div class="cc-newsDetail">
            <div class="cc-news-top">
                <h1 class="cc-news-title">喜报！！高速成长、跳跃发展，无锡米洛入选“瞪羚计划”培育企业，实力登榜</h1>
                <div class="cc-newsST">
                    <span class="cc-newsSec">栏目：米洛动态</span>
                    <span class="cc-Time">发布时间：2020-08-07
                    </span>
                </div>
                <div class="bshare-custom">
                    <a title="分享到QQ空间" class="bshare-qzone"></a>
                    <a title="分享到新浪微博" class="bshare-sinaminiblog"></a>
                    <a title="分享到人人网" class="bshare-renren"></a>
                    <a title="分享到腾讯微博" class="bshare-qqmb"></a>
                    <a title="分享到网易微博" class="bshare-neteasemb"></a>
                    <a title="更多平台" class="bshare-more bshare-more-icon more-style-addthis"></a>
                </div>
            </div>
            <div class="cc-news-content">
                <div class="newsContent">
                    <div class="newsContent-in">
                        <h1 style="margin-top:0;margin-bottom:7px;margin-left:0;text-indent:28px"><span
                                style="font-family: 宋体;letter-spacing: 0;font-weight: normal;font-size: 13px"><span
                                    style="font-family:宋体">励精图治</span></span><span
                                style="font-family: 宋体;letter-spacing: 0;font-weight: normal;font-size: 13px"><span
                                    style="font-family:宋体">、</span></span><span
                                style="font-family: 宋体;letter-spacing: 0;font-weight: normal;font-size: 13px"><span
                                    style="font-family:宋体">乘风破浪</span></span><span
                                style="font-family: 宋体;letter-spacing: 0;font-weight: normal;font-size: 13px"><span
                                    style="font-family:宋体">、永</span></span><span
                                style="font-family: 宋体;letter-spacing: 0;font-weight: normal;font-size: 13px"><span
                                    style="font-family:宋体">不止步，伴随着公司飞速发展的脚步，</span></span><span
                                style="font-family: 宋体;letter-spacing: 0;font-weight: normal;font-size: 13px"><span
                                    style="font-family:宋体">喜大普奔</span></span><span
                                style="font-family: 宋体;letter-spacing: 0;font-weight: normal;font-size: 13px"><span
                                    style="font-family:宋体">！无锡米洛</span></span><span
                                style="font-family: 宋体;letter-spacing: 0;font-weight: normal;font-size: 13px"><span
                                    style="font-family:宋体">又又又双双叕传来好消息啦</span></span><span
                                style="font-family: 宋体;letter-spacing: 0;font-weight: normal;font-size: 13px"><span
                                    style="font-family:宋体">！</span></span><strong></strong></h1>
                        <p style="text-indent:28px"><span
                                style="font-family: 宋体;letter-spacing: 0;font-size: 13px"><span
                                    style="font-family:宋体">近日，无锡市</span></span><span
                                style="font-family: 宋体;letter-spacing: 0;font-size: 13px"><span
                                    style="font-family:宋体">滨湖区工业和信息化局</span></span><span
                                style="font-family: 宋体;letter-spacing: 0;font-size: 13px"><span
                                    style="font-family:宋体">公布了</span></span><span
                                style="font-family: 宋体;letter-spacing: 0;font-size: 13px">2020年度新兴产业“瞪羚企业”和“瞪羚计划”培育企业申报</span><span
                                style="font-family: 宋体;letter-spacing: 0;font-size: 13px"><span
                                    style="font-family:宋体">结果，</span></span><span
                                style="font-family: 宋体;letter-spacing: 0;font-size: 13px"><span
                                    style="font-family:宋体">无锡米洛智能工业科技有限公司</span></span><span
                                style="font-family: 宋体;letter-spacing: 0;font-size: 13px"><span
                                    style="font-family:宋体">成功</span></span><span
                                style="font-family: 宋体;letter-spacing: 0;font-size: 13px"><span
                                    style="font-family:宋体">入选</span></span><span
                                style="font-family: 宋体;letter-spacing: 0;font-size: 13px">“瞪羚计划”</span><span
                                style="font-family: 宋体;letter-spacing: 0;font-size: 13px"><span
                                    style="font-family:宋体">培育企业</span></span><span
                                style="font-family: 宋体;letter-spacing: 0;font-size: 13px"><span
                                    style="font-family:宋体">。</span></span></p>
                        <p style="text-indent:28px"><span
                                style="font-family: 宋体;letter-spacing: 0;font-size: 13px">“</span><span
                                style="font-family: 宋体;letter-spacing: 0;font-size: 13px"><span
                                    style="font-family:宋体">瞪羚</span></span><span
                                style="font-family: 宋体;letter-spacing: 0;font-size: 13px">”</span><span
                                style="font-family: 宋体;letter-spacing: 0;font-size: 13px"><span
                                    style="font-family:宋体">一词</span></span><span
                                style="font-family: 宋体;letter-spacing: 0;font-size: 13px"><span
                                    style="font-family:宋体">源于</span></span><span
                                style="font-family: 宋体;letter-spacing: 0;font-size: 13px"><span
                                    style="font-family:宋体">硅谷，</span>“瞪羚企业”的概念诞生于20世纪90年代</span><span
                                style="font-family: 宋体;letter-spacing: 0;font-size: 13px"><span
                                    style="font-family:宋体">，</span></span><span
                                style="font-family: 宋体;letter-spacing: 0;font-size: 13px"><span
                                    style="font-family:宋体">最初由美国麻省理工学院教授戴维</span>•伯奇（David Birch）提出</span><span
                                style="font-family: 宋体;letter-spacing: 0;font-size: 13px"><span
                                    style="font-family:宋体">，</span></span><span
                                style="font-family: 宋体;letter-spacing: 0;font-size: 13px">“瞪羚企业”</span><span
                                style="font-family: 宋体;letter-spacing: 0;font-size: 13px"><span
                                    style="font-family:宋体">为</span></span><span
                                style="font-family: 宋体;letter-spacing: 0;font-size: 13px"><span
                                    style="font-family:宋体">创业企业</span></span><span
                                style="font-family: 宋体;letter-spacing: 0;font-size: 13px"><span
                                    style="font-family:宋体">跨过创业死亡谷、以科技创新或商业模式创新为支撑进入高成长期的科技型中小企业</span></span><span
                                style="font-family: 宋体;letter-spacing: 0;font-size: 13px"><span
                                    style="font-family:宋体">。</span></span><span
                                style="font-family: 宋体;letter-spacing: 0;font-size: 13px"><span
                                    style="font-family:宋体">硅谷称呼高成长型企业为</span>“瞪羚企业”，因为它们具有与“瞪羚”共同的特征</span><span
                                style="font-family: 宋体;letter-spacing: 0;font-size: 13px"><span
                                    style="font-family:宋体">：</span></span><span
                                style="font-family: 宋体;letter-spacing: 0;font-size: 13px"><span
                                    style="font-family:宋体">个头不大、跑得快、跳得高，这样的企业，年增长速度可以轻易超越一倍、十倍、百倍、千倍以上。<br /><img
                                        src="/image/09-01.png" width="1"
                                        height="1" style="width: 1px; height: 1px;" /><img
                                        src="/image/09-01.png" width="1"
                                        height="1" style="width: 1px; height: 1px;" /><img
                                        src="/image/09-01.png" width="523"
                                        height="239" style="width: 523px; height: 239px;" /><br /></span></span></p>
                        <p style="text-indent:28px"><span
                                style="font-family: 宋体;letter-spacing: 0;font-size: 13px"><span
                                    style="font-family:宋体">获得</span>“瞪羚企业”的认定标准十分严格，成长性指标、创新能力指标、行业方向指标都是入选的缺一不可的硬性条件。无锡米洛</span><span
                                style="font-family: 宋体;letter-spacing: 0;font-size: 13px"><span
                                    style="font-family:宋体">身为一家年轻的</span></span><span
                                style="font-family: 宋体;letter-spacing: 0;font-size: 13px"><span
                                    style="font-family:宋体">高新技术企业</span></span><span
                                style="font-family: 宋体;letter-spacing: 0;font-size: 13px"><span
                                    style="font-family:宋体">，能从千余家实力强劲的企业中突出重围，跻身成功</span></span><span
                                style="font-family: 宋体;letter-spacing: 0;font-size: 13px"><span
                                    style="font-family:宋体">入选</span></span><span
                                style="font-family: 宋体;letter-spacing: 0;font-size: 13px">“瞪羚计划”</span><span
                                style="font-family: 宋体;letter-spacing: 0;font-size: 13px"><span
                                    style="font-family:宋体">培育企业</span></span><span
                                style="font-family: 宋体;letter-spacing: 0;font-size: 13px"><span
                                    style="font-family:宋体">，代表</span></span><span
                                style="font-family: 宋体;letter-spacing: 0;font-size: 13px"><span
                                    style="font-family:宋体">无锡米洛</span></span><span
                                style="font-family: 宋体;letter-spacing: 0;font-size: 13px"><span
                                    style="font-family:宋体">的企业科技创新、持续成长能力得到了政府部门的高度认可。公司从成立之初时的十余人研发团队，迅速成长为</span></span><span
                                style="font-family: 宋体;letter-spacing: 0;font-size: 13px"><span
                                    style="font-family:宋体">以核心技术突破取得跨越式发展、</span></span><span
                                style="font-family: 宋体;letter-spacing: 0;font-size: 13px"><span
                                    style="font-family:宋体">以创新驱动为第一生产力，</span></span><span
                                style="font-family: 宋体;letter-spacing: 0;font-size: 13px"><span
                                    style="font-family:宋体">集项目咨询、方案规划、产品设计、设备制造、系统集成、实施交付</span></span><span
                                style="font-family: 宋体;letter-spacing: 0;font-size: 13px"><span
                                    style="font-family:宋体">于一体的全自主创新企业</span></span><span
                                style="font-family: 宋体;letter-spacing: 0;font-size: 13px"><span
                                    style="font-family:宋体">，</span></span><span
                                style="font-family: 宋体;letter-spacing: 0;font-size: 13px"><span
                                    style="font-family:宋体">取得了阶段性的成功！</span></span></p>
                        <p style="text-indent:28px"><span
                                style="font-family: 宋体;letter-spacing: 0;font-size: 13px"><span
                                    style="font-family:宋体">此次对我公司的认定十分珍贵，再次表明我公司在智能制造领域的自主知识产权、研发技术水平在国内同行业处于领先地位，市场前景好、成长速度快、发展潜力大、有较强的市场竞争力，是政府认可和重点扶持的高新技术企业。</span></span>
                        </p>
                        <p style="text-indent:28px"><span
                                style="font-family: 宋体;letter-spacing: 0;font-size: 13px"><span
                                    style="font-family:宋体">我公司会将此次认定作为发展道路上的激励与鞭策，继续发扬米洛人埋头苦干、努力创新的优良传统，以</span>“聚力科技融合制造，引领制造业智能升级”为使命，为离散制造行业的客户提供个性化和专业化的一站式服务，帮助客户实现仓储物流无人化、智能化，生产过程精益化、数字化，运营管理及时化、高效化。</span>
                        </p>
                        <p style="text-indent:28px"><span
                                style="font-family: 宋体;letter-spacing: 0;font-size: 13px"><span
                                    style="font-family:宋体">接下来，米洛仍将持续推动产品、技术、服务创新，将入选</span>“瞪羚企业”作为下一阶段重点工作目标之一，为离散制造行业高质量发展提供定制化的服务，为智造赋能、为愿景加持！</span>
                        </p>
                        <p><br /></p>
                    </div>
                </div>
            </div>
            <div class="cc-news-others">
                <div class="cc-pre-next">
                    <div class="cc-news-prev">
                        上一篇：
                        <a href="/news-08">"亲近自然，拥抱金秋"2020无锡米洛秋季户外活动</a>
                    </div>
                    <div class="cc-news-next">
                        下一篇：
                        <a href="/views/news-10">2020年第二季度员工表彰大会</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{/block}}