{{extend "./layout/layout.html"}}
{{block "head"}}
    <title>未来项目进场誓师大会</title>
    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/">
    <link rel="stylesheet" href="/css/news2.css">
    
    {{/block}}

    {{block "content"}}
    <section class="banner-box">
        <div class="banner">
            <img src="/image/1.jpg" />
        </div>
    </section>
    <div class="container cc-main">
        <div class="cc-newsDetail">
            <div class="cc-news-top">
                <h1 class="cc-news-title">未来项目进场誓师大会</h1>
                <div class="cc-newsST">
                    <span class="cc-newsSec">栏目：米洛动态</span>
                    <span class="cc-Time">发布时间：2020-04-17
                    </span>
                </div>
                <div class="bshare-custom">
                    <a title="分享到QQ空间" class="bshare-qzone"></a>
                    <a title="分享到新浪微博" class="bshare-sinaminiblog"></a>
                    <a title="分享到人人网" class="bshare-renren"></a>
                    <a title="分享到腾讯微博" class="bshare-qqmb"></a>
                    <a title="分享到网易微博" class="bshare-neteasemb"></a>
                    <a title="更多平台" class="bshare-more bshare-more-icon more-style-addthis"></a>
                </div>
            </div>
            <div class="cc-news-content">
                <div class="newsContent">
                    <div class="newsContent-in">
                        <p>2020.4.17下午公司召开未来项目进场誓师大会，软件、电气、机械等项目组成员参加大会，项目经理黄工主持召开。<br />本次项目誓师大会不仅是第一次对项目进行一个正式的启动仪式，更重要的是让项目组成员相互认识，知悉项目进度计划，保证项目按时按要求完美交付。<br />在会议上，项目经理明确未来项目各关键时间节点，项目组成员分别阐述了自己在项目过程中的分工及职责，公司最小的作战单元为项目组，项目组每个人都有自己的分工，都有共同的目标。项目按计划交付给客户，项目经理要清晰最终目标，项目组每个人的小目标要向最终的大目标靠拢，过程中每个人要去做调整。团队成员目标与团队整体目标要保持一致，这样团队是很强大的；个体目标与团队整体目标不一致，团队会遭殃，每个人也会受到损失。
                        </p>
                        <p>今后每个项目都要开项目誓师大会，立目标、职责范围，明确责任分工，为项目完美交付开一个好头。<br /><img
                                src="/image/17-01.jpg" width="465" height="326"
                                style="width: 465px; height: 326px;" /></p>
                        <p><br /></p>
                    </div>
                </div>
            </div>
            <div class="cc-news-others">
                <div class="cc-pre-next">
                    <div class="cc-news-prev">
                        上一篇：
                        <a href="/news-16">2020年第一季度公司总结大会</a>
                    </div>
                    <div class="cc-news-next">
                        下一篇：
                        <a href="/news-18">2019年会盛典</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{/block}}