{{extend "./layout/layout.html"}}
{{block "head"}}
    <title>"亲近自然，拥抱金秋"2020无锡米洛秋季户外活动</title>
    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/">
    <link rel="stylesheet" href="/css/news2.css">
    
    {{/block}}

    {{block "content"}}
    <section class="banner-box">
        <div class="banner">
            <img src="/image/1.jpg" />
        </div>
    </section>
    <div class="container cc-main">
        <div class="cc-newsDetail">
            <div class="cc-news-top">
                <h1 class="cc-news-title">"亲近自然，拥抱金秋"2020无锡米洛秋季户外活动</h1>
                <div class="cc-newsST">
                    <span class="cc-newsSec">栏目：米洛动态</span>
                    <span class="cc-Time">发布时间：2020-10-26
                    </span>
                </div>
                <div class="bshare-custom">
                    <a title="分享到QQ空间" class="bshare-qzone"></a>
                    <a title="分享到新浪微博" class="bshare-sinaminiblog"></a>
                    <a title="分享到人人网" class="bshare-renren"></a>
                    <a title="分享到腾讯微博" class="bshare-qqmb"></a>
                    <a title="分享到网易微博" class="bshare-neteasemb"></a>
                    <a title="更多平台" class="bshare-more bshare-more-icon more-style-addthis"></a>
                </div>
            </div>
            <div class="cc-news-content">
                <div class="newsContent">
                    <div class="newsContent-in">
                        <p>&nbsp; &nbsp; &nbsp;
                            生活不止眼前的苟且，还有诗和远方;工作不仅仅局限于公司到家的两点一线，当然还有说走就走的团建活动。为了增强团队凝聚力和向心力，丰富员工文化生活，2020年10月24日，无锡米洛员工来到无锡龙寺生态园，开展了以“亲近自然，拥抱金秋”为主题的员工团建活动。金秋十月，是充满热情的月份。一个人可以走得很快，一群人才能够走得更远，让大家都能够积极融入到公司这个大家庭中来。
                        </p>
                        <p><strong><span
                                    style="white-space: normal;">军嶂古道穿越</span>*赏秋</strong><br />龙寺生态园园内漫山秋色，层林尽<span
                                style="background-color: rgb(153, 111, 129); color: rgb(107, 38, 101); font-family: PingFangSC-Light; font-size: 17px; text-align: justify; white-space: pre-wrap;"></span>染，如诗如画，美不胜收。“山不在高，有仙则名；水不在深，有龙则灵”。大山的美景在阳光的照射下，显得格外美好灿烂，不由得让人停下脚步，想在这里多待上一会儿~<img
                                src="/image/08-01.jpg" width="1" height="1"
                                style="width: 1px; height: 1px;" />军嶂古道——<span
                                style="white-space: normal;">这些饱经沧桑、被荒废已久的古道，做梦也没想到21世纪会被赋予新的涵义：穿越。现在大部分古道尚存，是军嶂山区的历史见证和景区的宝贵财富，它们将继续为人们而不仅仅是山民服务。</span>
                        </p>
                        <p><img src="/image/08-01.jpg" width="495" height="359"
                                style="width: 495px; height: 359px;" /><br /><strong><span
                                    style="font-family: sans-serif; font-size: 16px;">烧烤*美食盛宴</span></strong><span
                                style="font-family: sans-serif; font-size: 16px;"><br /></span>中午，大家有分工有合作，在袅袅炊烟中烤制出美味。大家各自拿出“十八般武艺”，投入到烧烤活动中,边烤边吃、边吃边聊、互相指导，同时<span
                                style="white-space: normal;">还不忘相互递送烤好的成品，在协作和交流中，充分享受团队活动的乐趣……</span><br /><img
                                src="/image/08-02.jpg" width="340" height="449"
                                vspace="0" title="" alt=""
                                style="width: 340px; height: 449px; border: 0px solid rgb(0, 0, 0);" /><img
                                src="/image/08-03.jpg" width="340" height="449"
                                vspace="0" title="" alt=""
                                style="width: 340px; height: 449px; border: 0px solid rgb(0, 0, 0);" /><br /><strong>亲子游船</strong><br />大孩子、小孩子们展开了一场水上游船比赛，围追堵截、呐喊助威，乐不思蜀......<br /><img
                                src="/image/08-04.jpg" width="400" height="340"
                                vspace="0" title="" alt=""
                                style="width: 400px; height: 340px; border: 0px solid rgb(0, 0, 0);" /><img
                                src="/image/08-05.jpg" width="400" height="340"
                                vspace="0" title="" alt=""
                                style="width: 400px; height: 340px; border: 0px solid rgb(0, 0, 0);" /><br /><strong>真人CS比赛</strong><br /><img
                                src="/image/08-06.jpg" width="620" height="440"
                                vspace="0" title="" alt=""
                                style="width: 620px; height: 440px; border: 0px solid rgb(0, 0, 0);" /><br /><strong><span
                                    style="white-space: normal;">桔子采摘</span></strong><strong
                                style="font-family: Microsoft Yahei, Avenir, Segoe UI, Hiragino Sans GB, STHeiti, Microsoft Sans Serif, WenQuanYi Micro Hei, sans-serif; font-size: 18px; white-space: normal;"><br /><img
                                    src="/image/08-07.jpg" width="380"
                                    height="540" vspace="0" title="" alt=""
                                    style="width: 380px; height: 540px; border: 0px solid rgb(0, 0, 0);" /><img
                                    src="/image/08-08.jpg" width="380"
                                    height="540" vspace="0" title="" alt=""
                                    style="width: 380px; height: 540px; border: 0px solid rgb(0, 0, 0);" /><img
                                    src="/image/08-09.jpg" width="380"
                                    height="540" vspace="0" title="" alt=""
                                    style="width: 380px; height: 540px; border: 0px solid rgb(0, 0, 0);" /><img
                                    src="/image/08-10.jpg" width="380"
                                    height="540" vspace="0" title="" alt=""
                                    style="width: 380px; height: 540px; border: 0px solid rgb(0, 0, 0);" /></strong></p>
                    </div>
                </div>
            </div>
            <div class="cc-news-others">
                <div class="cc-pre-next">
                    <div class="cc-news-prev">
                        上一篇：
                        <a href="/news-07">2020年度项目复盘总结会</a>
                    </div>
                    <div class="cc-news-next">
                        下一篇：
                        <a href="/views/news-09">2021年半年度工作会暨新晋管理人员聘任仪式</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{/block}}