{{extend "./layout/layout.html"}}
{{block "head"}}
    <title>无锡米洛智能2022新春茶话会</title>
    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/">
    <link rel="stylesheet" href="/css/news2.css">
    
    {{/block}}

    {{block "content"}}
    <section class="banner-box">
        <div class="banner">
            <img src="/image/1.jpg" />
        </div>
    </section>
    <div class="container cc-main">
        <div class="cc-newsDetail">
            <div class="cc-news-top">
                <h1 class="cc-news-title">无锡米洛智能2022新春茶话会</h1>
                <div class="cc-newsST">
                    <span class="cc-newsSec">栏目：米洛动态</span>
                    <span class="cc-Time">发布时间：2022-01-26</span>
                </div>
                <div class="bshare-custom">
                    <a title="分享到QQ空间" class="bshare-qzone"></a>
                    <a title="分享到新浪微博" class="bshare-sinaminiblog"></a>
                    <a title="分享到人人网" class="bshare-renren"></a>
                    <a title="分享到腾讯微博" class="bshare-qqmb"></a>
                    <a title="分享到网易微博" class="bshare-neteasemb"></a>
                    <a title="更多平台" class="bshare-more bshare-more-icon more-style-addthis"></a>                   
                </div>
            </div>
            <div class="cc-news-content">
                <p>
                    <span style="font-size: 14px; color: #333; line-height: 25px;">
                        解锁新的一年，和你跨过2021拥抱2022，新的一年要有趣、有盼、无灾无难。新年茶话会，安排！
                        <br>
                    </span>
                    <img src="/image/01-01.png" width="275" height="320" />
                    <img src="/image/01-02.png" width="275" height="320" />
                    <br>
                </p>
                <p style="line-height: normal; line-height: 25px;">
                    <span style="font-size: 14px; color: #333;">锣鼓喧天，鞭炮齐鸣</span>
                </p>
                <p style="line-height: normal; line-height: 25px;">
                    <span style="font-size: 14px; color: #333;">今天，米洛智能的洛仔们</span>
                </p>
                <p style="line-height: normal; line-height: 25px;">
                    <span style="font-size: 14px; color: #333;">终于迎来万众期待的茶话会</span>
                </p>
                <p style="line-height: normal; line-height: 25px;">
                    <span style="font-size: 14px; color: #333; line-height: 25px;">前方记者综合部F发来现场报道——综合部F&nbsp;2022.1.21
                        <br>
                        <span
                            style="font-size: 14px; color: #333; line-height: 25px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            平日的忙碌、辛苦和汗水让我们很多小哥哥像个“糙汉子”，一个个小姐姐变成了“女汉子”，今天拿到“米洛新年祝福”的小伙伴们在这一刻快乐的像个孩子。有人惦念、有人准备惊喜就是岁月里最好的礼物。每一位可爱的米洛家人，感谢这一年带给彼此的精彩，我们一起见星辰，一起见尘埃，长夜中有梦想闪闪发光，人海中有知己共赴远方，朝暮与年岁并往，我们一同行至天光。</span>
                        <br>
                    </span>
                    <img src="/image/01-03.png" width="275" height="320" />
                    <img src="/image/01-04.png" width="275" height="320" />
                    <br>
                    <span
                        style="font-size: 14px; color: #333;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;斗转星移辞旧岁，壮志满怀迎新年。2022年新年到来之际，
                        <span style="font-size: 14px; color: #333; white-space: normal;">因疫情防控工作需要，减少人群聚集，特在</span>
                        公司举行了“笃定前行，行稳致远”的新年茶话会，大家共话发展，共叙情谊，共迎新年！
                    </span>
                </p>
                <p>
                    <span
                        style="font-size: 14px; color: #333;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;伴随着主持人入场，茶话会正式拉开了序幕。刘总首先致辞，他在发言中提到这一年受疫情影响复杂多变的形势，日益激烈的同行业竞争，这一切我们没有退缩。公司的发展离不开大家的共同努力，由衷地向大家表达感谢，对全体同仁开拓进取、攻坚克难、团结一切的力量和辛勤付出表示肯定与认可，也与大家分享了自己对幸福的定义。
                        <br>
                    </span>
                    <img src="/image/01-05.png" width="275" height="320" />
                    <br>
                </p>
                <p>
                    <span
                        style="font-size: 14px; color: #333;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;在过去一年中，无锡米洛智能的快速发展离不开每位米洛人的贡献，为更好激励员工的工作热情，树立优秀标杆，公司对2021年度魅力米洛人、优秀员工、成长之星、敬业先锋、优秀团队等分别进行了表彰。希望大家在新的一年继续保持现有优异的成绩，不断驱动自我革新与成长，一步一步拥抱更好的自己。
                        <br>
                    </span>
                    <img src="/image/01-06.png" width="275" height="320" />
                    <br>
                    <span
                        style="font-size: 14px; color: #333;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;伴随着五轮激动人心的抽奖环节，在欢声笑语中，2022新春茶话会圆满结束。你以为结束了？！哈哈，重头戏才刚刚开始。</span>
                    <br>
                </p>
                <p>
                    <span
                        style="font-size: 14px; color: #333;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;他，是默默的奋斗者！乐观积极，吃苦耐劳。在同时肩负多个项目调试的情况下，面对滁州福斯特项目短周期、高压力、高强度、环境恶劣等情况，敢为人先，表现出高度的担当与抗压能力！他，是项目前沿阵地的先锋，执行命令，快刀斩麻；他，临危不乱，在应急突发时一马当先；他，低调朴实，在接人待物里老马识途；他，斗转时差，在白天黑夜中厉兵秣马。他，以工作为导向，不计较个人得失。在**项目上，面对前期的机械电气软件问题，能自己解决都自己主动处理或配合，从不向上抱怨；面对客户24小时不间断生产，以及项目投入运行前期的磨合期、客户不熟悉等情况，每日坚守岗位11小时以上加班加点调试设备，常常半夜接到客户电话去现场处理问题，也从未向公司要求加派人员，默默付出！项目经理不时，更担当起现场负责人的职责，统筹规划设备调试与交付。2021年全年标准出勤天数250天，他的出勤天数是327天；2021年全年标准工时1875小时，他工作了3350.3小时。公司一直秉持着这样“向奋斗者倾斜，不让雷锋吃亏”
                        <span style="font-size: 14px; color: #333;">的精神，</span>
                    </span>
                    <span
                        style="font-size: 14px; color: #333;">吕总向全体员工表达了真挚的新年祝福和来年的期许，同时也为他，电气工程部经理郭工送上了一份大礼，表达了公司对他这些年默默工作付出的感恩！</span>
                </p>
                <p>
                    <span style="font-size:14px; color: #333;">
                        <img src="/image/01-07.png" width="320" height="260" />
                    </span>
                </p>
                <p>
                    <span
                        style="font-size: 14px; color: #333;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;金戈铁马闻征鼓，只争朝夕启新程。2022年，米洛人将继续把“诚信”化为行动，把“创新”付诸实践，在技术创新和产品研发上持续发力，为智能制造业高质量发展贡献力量。！</span>
                    <br>
                </p>
            </div>
            <div class="cc-news-others">
                <div class="cc-pre-next">
                    <div class="cc-news-prev">
                        上一篇： 没有了
                    </div>
                    <div class="cc-news-next">
                        下一篇：
                        <a href="/news-02">不负好时光，米洛员工秋日旅行Fun肆玩</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{/block}}


    