{{extend "./layout/layout.html"}}
{{block "head"}}
    <title>2020年第一季度公司总结大会</title>
    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/" />
    <link rel="stylesheet" href="/css/news2.css">
    
    {{/block}}

    {{block "content"}}
    <section class="banner-box">
      <div class="banner">
        <img src="/image/1.jpg" />
      </div>
    </section>
    <div class="container cc-main">
      <div class="cc-newsDetail">
        <div class="cc-news-top">
          <h1 class="cc-news-title">2020年第一季度公司总结大会</h1>
          <div class="cc-newsST">
            <span class="cc-newsSec">栏目：米洛动态</span>
            <span class="cc-Time">发布时间：2020-04-14</span>
          </div>
          <div class="bshare-custom">
            <a title="分享到QQ空间" class="bshare-qzone"></a>
            <a title="分享到新浪微博" class="bshare-sinaminiblog"></a>
            <a title="分享到人人网" class="bshare-renren"></a>
            <a title="分享到腾讯微博" class="bshare-qqmb"></a>
            <a title="分享到网易微博" class="bshare-neteasemb"></a>
            <a title="更多平台" class="bshare-more bshare-more-icon more-style-addthis"></a>                   
        </div>
        </div>
        <div class="cc-news-content" style="margin-top: 35px;">
          <p style="margin-bottom:10px">
            <span style="font-size: 14px; color: #333; line-height: 25px ">
                4月14日下午，无锡米洛2020年第一季度总结大会在会议室召开，全面回顾总结一季度以来公司在统筹推进疫情防控及复工复产阶段各项重点工作开展情况。围绕以下几个方面开展总结回顾：
              <br/>
            </span>
          </p>
          <p style="line-height: normal; line-height: 25px;margin-bottom:10px">
            <span style="font-size: 14px; color: #333">
                1、把季度计划全面贯彻下来，以结果为导向，以终为始；
              </span>
            </br>
          </p>
          <p style="line-height: normal; line-height: 25px">
            <span style="font-size: 14px; color: #333"
              >2、本着不让雷锋吃亏，向奋斗者倾斜的原则，我今年落地了积分管理制度并全面实施，将一年修订一次，有不合理的可以反馈综合管理部。
              </span
            >
          </p>
          <p style="line-height: normal; line-height: 25px;margin-bottom:10px">
            <span style="font-size: 14px; color: #333">
                3、对职位体系、层级体系进行了梳理规划。
              </span>
            </br>
          </p>
          <p style="line-height: normal; line-height: 25px;margin-bottom:10px">
            <span style="font-size: 14px; color: #333">
                4、对公司薪酬体系进行重新规划。
              </span>
            </br>
          </p>
          <p style="line-height: normal; line-height: 25px;margin-bottom:10px">
            <span style="font-size: 14px; color: #333">
                5、馒头计划的落地。
              </span>
            </br>
          </p>
          <p style="line-height: normal; line-height: 25px;margin-bottom:10px">
            <span style="font-size: 14px; color: #333">
                6、内部讲师受聘仪式。
              </span>
            </br>
          </p>
          <p>
          </br>
          </p>
        </div>
        <div class="cc-news-others">
          <div class="cc-pre-next">
              <div class="cc-news-prev">
                  上一篇：
                  <a href="/news-15">风雨同舟，聚力抗疫</a>
              </div>
              <div class="cc-news-next">
                  下一篇：
                  <a href="/news-17">未来项目进场誓师大会</a>
              </div>
          </div>
      </div>
        </div>
    </div>
    {{/block}}