/* <link rel="stylesheet" href="../../node_modules/bootstrap/css/bootstrap.min.css" /> */
* {
    margin : 0;
    padding: 0;
}

body {
    /* position: relative; */
    line-height: 1.5;
    font-family: "微软雅黑", microsoft yahei;
    color      : #333;
    background : #F4F4F4;
    overflow-y : scroll !important;
}

a {
    color: #333;
}

/* banner板块 */
.banner img {
    max-width: 100%;
}

/* menu板块 */
.w-container {
    width: 100%;
}

.menu>.ulParent {
    display: none;
}

.menu-in {
    display: none;
}

.w-container .w-dropdown-menu {
    width           : 100%;
    color           : #666;
    background-color: none;
    border-bottom   : 2px solid #2B3B62;
    display         : none;
    cursor          : pointer;
}


.w-container .w-dropdown-menu>li {
    border-bottom: 1px solid #fff;
    padding      : 0.7em 0.8em;
    position     : relative;
}

.w-container .w-dropdown-menu>li>a {
    color  : #666;
    display: inline-block;
    width  : 90%;
}

.w-dropdown-menu span {
    position   : absolute;
    z-index    : 1;
    right      : 1em;
    top        : 1em;
    display    : inline-block;
    font-size  : 12px;
    line-height: 1.2;
    width      : 1.2em;
    color      : #666;
}

.submenu {
    display: none;
}

.submenu ul {
    background-color: #fafafa;
}

.submenu ul li {
    padding      : 0.7em 0.8em;
    border-bottom: 1px solid #fff;
}

.submenu ul li a {
    color: #666;
}

.submenu ul li a:hover,
.w-container .w-dropdown-menu>li>a:hover {
    text-decoration: none;
    color          : #2B3B62;
}

@media screen and (max-width:767px) {
    .menu-in {
        display: block;
    }

    .menu-in>.sys-title {
        width           : 100%;
        background-color: #2B3B62;
        color           : #fff;
        font-size       : 125%;
        padding         : 0.5em;
        cursor          : pointer;
        position        : relative;
    }

    .menu-in>.sys-title>span {
        position   : absolute;
        z-index    : 1;
        right      : 0.1em;
        top        : 0.1em;
        display    : inline-block;
        font-size  : 200%;
        line-height: 1.2;
        color      : #fff;
    }
}

@media screen and (min-width:768px) {
    .menu {
        text-align      : center;
        background-color: #fff;
        padding         : 26px 0 16px 0;
        border-bottom   : 1px solid #DCDBDB;
    }

    .menu>.ulParent {
        display: block;
    }

    .menu>.ulParent>.liParent {
        display: inline-block;
        margin : 0 2px;
    }

    .menu>.ulParent>.liParent>.divParent>a {
        padding    : 0 5px;
        line-height: 34px;
        border     : 1px solid #898989;
        display    : block;
        font-size  : 16px;
        /* color   : #333; */
    }

    .menu>.ulParent>.liParent>.divParent>a:hover {
        text-decoration : none;
        color           : #fff;
        background-color: #7271c8;
        border-color    : #2B3B62;
    }
}

@media screen and (min-width:1201px) {
    .menu>.ulParent>.liParent {
        margin: 0 5px;
    }

    .menu>.ulParent>.liParent>.divParent>a {
        padding: 0 12px;
    }
}

/* menu-list板块 */
.menu-list {
    max-width    : 1200px;
    margin       : 1em auto;
}

.menu-list>.page-direction>a:hover {
    color: #333;
}

.page-direction {
    /* width        : 100%; */
    line-height  : 1.5;
    padding      : 0.2em 0 0.5em;
    border-bottom: 1px solid #D2D2D2;
    margin-bottom: 1em;
}

.prd .prd-list {
    margin-bottom: 30px;
    overflow     : hidden;
    position     : relative;
}

.prd .imgBox {
    height  : 162px;
    overflow: hidden;
}

.prd .img {
    height             : 162px;
    background-size    : cover;
    background-position: center;
    transition         : all 0.4s ease-in-out;
    z-index            : 0;
}

.prd .img[title='制造执行系统'] {
    background-image: url("/public/images/zhizaozhixingxitong.png");
}

.prd .img[title='仓储管理系统'] {
    background-image: url("/public/images/cangchuguanlixitong.png");
}

.prd .img[title='可视化管理系统'] {
    background-image: url("/public/images/keshihuaguanlixitong.png");
}

.prd .img[title='及时化管理系统'] {
    background-image: url("/public/images/jishihuaguanlixitong.png");
}

.prd .img[title='生产运维管理系统'] {
    background-image: url("/public/images/shengchanyunweiguanlixitong.png");
}

.prd .img[title='仓储机器人'] {
    background-image: url("/public/images/cangchujiqiren.png");
}

.prd .img[title='穿梭机器人'] {
    background-image: url("/public/images/chuansuojiqiren.png");
}

.prd .img[title='自动仓储系统'] {
    background-image: url("/public/images/zidongcangchuxitong.png");
}

.prd .img[title='机器换人系统'] {
    background-image: url("/public/images/jiqihuanrenxitong.png");
}

.prd .img[title='输送系统'] {
    background-image: url("/public/images/shusongxitong.png");
}

.prd .prd-list:hover .prd-msg {
    color           : #fff;
    background-color: #7271c8;
}

@media screen and (max-width:767px) {
    .prd .prd-list:hover .prd-msg {
        background-color: #2B3B62;
    }

}

.prd .img:hover {
    transform: scale(1.1);
}

.prd h2 {
    font-size       : 18px;
    text-align      : center;
    height          : 57px;
    line-height     : 57px;
    color           : #333;
    background-color: #E0E0E0;
    margin          : 0;
}