{{extend "./layout/layout.html"}}
{{block "head"}}
    <title>换了机器人不等于建成智能工厂</title>
    <link rel="stylesheet" href="/miLo/node_modules/bootstrap/dist/css/" />
    <link rel="stylesheet" href="/miLo/css/news2.css">
    
    {{/block}}

    {{block "content"}}
    <section class="banner-box">
      <div class="banner">
        <img src="/miLo/image/1.jpg" />
      </div>
    </section>
    <div class="container cc-main">
      <div class="cc-newsDetail">
        <div class="cc-news-top">
          <h1 class="cc-news-title">换了机器人不等于建成智能工厂</h1>
          <div class="cc-newsST">
            <span class="cc-newsSec">栏目：行业资讯</span>
            <span class="cc-Time">发布时间：2020-04-18</span>
          </div>
          <div class="bshare-custom">
            <a title="分享到QQ空间" class="bshare-qzone"></a>
            <a title="分享到新浪微博" class="bshare-sinaminiblog"></a>
            <a title="分享到人人网" class="bshare-renren"></a>
            <a title="分享到腾讯微博" class="bshare-qqmb"></a>
            <a title="分享到网易微博" class="bshare-neteasemb"></a>
            <a title="更多平台" class="bshare-more bshare-more-icon more-style-addthis"></a>                   
        </div>
        </div>
        <div class="cc-news-content" style="margin-top: 35px;">
          <p style="margin-bottom:10px">
            <span>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;很多人以为花大钱买回一堆数控设备和机器人就建成了智能工厂。这实际上是一种误解。MILO米洛认为，要建成智能工厂，除了生产流程的自动化外，关键还需要企业的信息化，一硬一软，才能发展。缺了生产流程的信息化改造，就相当于在缺水缺电的地区置办一大堆家电，不能充分发挥智能工厂的核心效能。
              <br/>
            </span>
          </p>
          <p>
            <strong>
                <span>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;什么是智能工厂？
                  </span>
            </strong>
            </br>
          </p>
          <p>
            <span>&nbsp;&nbsp;&nbsp;&nbsp;“智能工厂”的概念最早由美国罗克韦尔自动化有限公司CEO奇思·诺斯布希于2009年提出，其核心是工业化和信息化的高度融合。传统的制造企业都将向智能工厂转型，用自动化和机械设备代替人工，加工制造过程由设备完成，这些设备还可以互联，人员、材料、设备、成品半成品实现管控一体化。
              </span>
          </p>
          <p>
            <span>&nbsp;&nbsp;&nbsp;&nbsp;在实现步骤上，要软硬搭配。首先要实现企业的信息化改造，将信息技术、自动化技术、现代管理技术与制造技术相结合，将传统企业的经营、管理、产品开发和生产、仓储、物流等各个环节数字化，实现产品生产过程到企业管理的信息化。同时，面向企业信息化需求，突破核心业务信息系统、大型应用系统等关键技术，开发基于开放标准的嵌入式软件和应用软件，加快产品生命周期管理（PLM）、制造执行管理系统（MES）等工业软件产业化。
              </span>
          </p>
          <p>
            <span>&nbsp;&nbsp;&nbsp;&nbsp;其次，要提升生产线的自动化程度，加大工业机器人在企业中的使用，这点在汽车、电子、工程机械等领域中推行起来更为容易。发达工业国家的经验显示，工业机器人自动化生产线成套设备已经成为自动化装备的主流及未来的发展方向，其应用领域也从汽车工业向一般工业延伸。
              </span>
          </p>
          <p>
            <span>唯有将自动化与信息化全面融合，智能工厂才能发挥出真正的能效。
              </span>
          </p>
          <p>
          </br>
          </p>
        </div>
        <div class="cc-news-others">
          <div class="cc-pre-next">
              <div class="cc-news-prev">
                  上一篇：
                  <a href="/miLo/views/cc-miLo-news/news-20.html">当互联网遇上先进制造业，7张图看懂国务院定下的一个大目标</a>
              </div>
              <div class="cc-news-next">
                  下一篇：
                  <a href="/miLo/views/cc-miLo-news/news-22.html">信息化和工业化融合发展规划（2016－2020）</a>
              </div>
          </div>
      </div>
        </div>
    </div>
    {{/block}}
