{{extend "./layout/layout.html"}}
{{block "head"}}
    <title>风“羽”同舟，“羽”爱同行无锡米洛第二届羽毛球锦标赛</title>
    <link rel="stylesheet" href="/miLo/node_modules/bootstrap/dist/css/">
    <link rel="stylesheet" href="/miLo/css/news2.css">
    
    {{/block}}

    {{block "content"}}
    <section class="banner-box">
        <div class="banner">
            <img src="/miLo/image/1.jpg" />
        </div>
    </section>
    <div class="container cc-main">
        <div class="cc-newsDetail">
            <div class="cc-news-top">
                <h1 class="cc-news-title">风“羽”同舟，“羽”爱同行无锡米洛第二届羽毛球锦标赛</h1>
                <div class="cc-newsST">
                    <span class="cc-newsSec">栏目：米洛动态</span>
                    <span class="cc-Time">发布时间：2021-07-12</span>
                </div>
                <div class="bshare-custom">
                    <a title="分享到QQ空间" class="bshare-qzone"></a>
                    <a title="分享到新浪微博" class="bshare-sinaminiblog"></a>
                    <a title="分享到人人网" class="bshare-renren"></a>
                    <a title="分享到腾讯微博" class="bshare-qqmb"></a>
                    <a title="分享到网易微博" class="bshare-neteasemb"></a>
                    <a title="更多平台" class="bshare-more bshare-more-icon more-style-addthis"></a>
                </div>
            </div>
            <div class="cc-news-content">
                <div class="newsContent">
                    <div class="newsContent-in">
                        <p><span
                                style="color: rgb(51, 51, 51); font-family: 仿宋; font-size: 21px; letter-spacing: 0.544px; text-align: justify; white-space: normal; background-color: rgb(255, 255, 255);"></span>
                        </p>
                        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;炎炎夏日，为更好的活跃职工业余文化生活<span
                                style="white-space: normal;">，弘扬激情、精进、协同、担当的企业文化精神，</span>风“羽”同舟，“羽”爱同行无锡米洛第二届羽毛球锦标赛活动于7月10日星期六正式拉开帷幕。<br />
                        </p>
                        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;为增进比赛的参与度和趣味性，本次比赛在去年男单、女单项目的基础上，设置了趣味热身赛，赛制上将小组循环赛和淘汰赛相结合，给予选手更多展示的机会。下午1点，比赛正式开始。<span
                                style="white-space: normal;">趣味热身赛更是吸引了不少职工的踊跃参与，他们在默契颠球、运球中互信互助、全情投入，展示出了协同、担当的竞技精神。</span>赛场上选手们个个精神抖擞，或起跳扣杀或轻挑过网，在无数次斡旋回合中，将各种球技展现得淋漓尽致，充满了团结奋进、永不服输的拼劲。<br /><img
                                src="/miLo/image/05-01.png" width="230" height="300"
                                style="width: 230px; height: 300px; border: 0px solid rgb(0, 0, 0);" vspace="0" title=""
                                alt="" /><img src="/miLo/image/05-02.png" width="230"
                                height="300" vspace="0" title="" alt=""
                                style="width: 230px; height: 300px; border: 0px solid rgb(0, 0, 0);" /><img
                                src="/miLo/image/05-03.png" width="230" height="300"
                                vspace="0" title="" alt=""
                                style="width: 230px; height: 300px; border: 0px solid rgb(0, 0, 0);" /></p>
                        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;此次比赛为公司广大职工搭建了健身平台，同时也增加了员工们之间的交流与沟通，增强了员工们的身体素质，引导职工以更加饱满的工作热情投身岗位工作中。今后，公司综合部还将广泛开展丰富多彩的文化体育活动，增强员工体质，确保员工以昂扬的斗志为公司的发展做出更大的贡献！<br />
                        </p>
                    </div>
                </div>
            </div>
            <div class="cc-news-others">
                <div class="cc-pre-next">
                    <div class="cc-news-prev">
                        上一篇：
                        <a href="/miLo/views/cc-miLo-news/news-04.html">2021年半年度工作会暨新晋管理人员聘任仪式</a>
                    </div>
                    <div class="cc-news-next">
                        下一篇：
                        <a href="/miLo/views/cc-miLo-news/news-06.html">无锡米洛智能2021新年茶话会</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{/block}}