{{extend "./layout/layout.html"}}
{{block "head"}}
    <title>丰茂WMS项目启动大会圆满召开</title>
    <link rel="stylesheet" href="/miLo/node_modules/bootstrap/dist/css/">
    <link rel="stylesheet" href="/miLo/css/news2.css">
    
    {{/block}}

    {{block "content"}}
    <section class="banner-box">
        <div class="banner">
            <img src="/miLo/image/1.jpg" />
        </div>
    </section>
    <div class="container cc-main">
        <div class="cc-newsDetail">
            <div class="cc-news-top">
                <h1 class="cc-news-title">丰茂WMS项目启动大会圆满召开</h1>
                <div class="cc-newsST">
                    <span class="cc-newsSec">栏目：米洛动态</span>
                    <span class="cc-Time">发布时间：2020-08-05
                    </span>
                </div>
                <div class="bshare-custom">
                    <a title="分享到QQ空间" class="bshare-qzone"></a>
                    <a title="分享到新浪微博" class="bshare-sinaminiblog"></a>
                    <a title="分享到人人网" class="bshare-renren"></a>
                    <a title="分享到腾讯微博" class="bshare-qqmb"></a>
                    <a title="分享到网易微博" class="bshare-neteasemb"></a>
                    <a title="更多平台" class="bshare-more bshare-more-icon more-style-addthis"></a>
                </div>
            </div>
            <div class="cc-news-content">
                <div class="newsContent">
                    <div class="newsContent-in">
                        <p>&nbsp; &nbsp; &nbsp;
                            宁波丰茂远东橡胶有限公司米洛智能仓库物流软件系统项目即将正式启动，2020年7月25日丰茂项目组举行了项目启动大会，在启动会上对实施计划、关键节点进行了工作介绍，规范了项目交付、项目管理规范、项目风险与项目关键要素。会议围绕正式启动实施WMS项目，明确了计划安排、项目组成、实施进度等系列进度与安排，强化分工与协调，力争在年底前实现突破性进展。&nbsp;<br /><img
                                src="/miLo/image/11-01.png" width="337" height="230"
                                style="width: 337px; height: 230px;" /></p>
                        <p><img src="/miLo/image/11-02.png" width="242" height="303"
                                style="width: 242px; height: 303px;" /><br /></p>
                        <p><img src="/miLo/image/11-03.png" width="242" height="308"
                                vspace="0" title="" alt=""
                                style="width: 242px; height: 308px; border: 0px solid rgb(0, 0, 0);" /><br /></p>
                        <p>&nbsp; &nbsp; &nbsp; &nbsp;2020年8月4日下午丰茂项目组成员于<span
                                style="white-space: normal;">宁波丰茂远东橡胶有限公司会议室隆重举行了</span>项目启动见面仪式，宁波丰茂总经理王总、一二厂车间部长、仓库等出席了此次会议。王总指出，当前经济形势严峻，行业竞争激烈，公司要顺应时代发展的需要，员工要从思维模式、管理模式上做出彻底的改变。同时，王总对此次WMS项目的成功实施寄予厚望，明确了本次项目的重要性，提醒各级人员在项目实施中的一些关键点和注意事项。王总介绍了公司业务发展的基本情况，仓储物流目前存在的主要问题以及实施WMS的初衷，并表达了合作的愿景：我们丰茂与米洛结成战略合作伙伴，希望借助米洛WMS先进的管理软件、仓储物流行业丰富的管理经验，通过项目的深度合作，为丰茂业务快速发展、做大做强赋能！为丰茂仓储物流的数字化转型升级赋能！<br />&nbsp;
                            &nbsp; &nbsp;
                            &nbsp;米洛方项目经理黄经理对项目实施思路、解决方案和实施计划做了详细介绍。米洛副总刘总代表项目合作方做总结发言，对本次项目的目标、项目实施节点、质量保障及服务承诺等方面做了阐述，并做出承诺：让丰茂团队掌握米洛WMS系统的应用及配置，将米洛所接触的智能工厂化、立体仓储的经验带给丰茂，达到共赢。并预祝项目顺利上线。<br /><img
                                src="/miLo/image/11-04.png" width="353" height="291"
                                style="width: 353px; height: 291px;" /><img
                                src="/miLo/image/11-05.png" width="415" height="290"
                                style="width: 415px; height: 290px;" /><br />&nbsp; &nbsp; &nbsp;
                            &nbsp;此次项目启动会作为WMS系统实施的开端，双方都明确了项目实施的重大意义、了解了项目实施的基本思路及计划，为接下来的项目开展奠定了良好基础，相信此次项目必将圆满成功！</p>
                        <p><br /></p>
                        <p><br /></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="cc-news-others">
            <div class="cc-pre-next">
                <div class="cc-news-prev">
                    上一篇：
                    <a href="/miLo/views/cc-miLo-news/news-08.html">2020年第二季度员工表彰大会</a>
                </div>
                <div class="cc-news-next">
                    下一篇：
                    <a href="/miLo/views/cc-miLo-news/news-12.html">2020年度公司年中总结大会</a>
                </div>
            </div>
        </div>
    </div>
    </div>
    
    {{/block}}