<!-- 底部 -->
<div class="footer">
    <div class="container" style="width: 100%;    margin: 0;    padding: 0;">
        <div class="footer_in">
            <div class="in_box">
                <div class="box_frist">
                    <table class="box_frist_table">
                        <tbody>
                            <tr>
                                <td class="td_top footer_none" width="85.6%">
                                    <div class="tr_td_div">
                                        <table>
                                            <tbody>
                                                <tr>
                                                    <td class="td_top" width="20%">
                                                        <div>
                                                            <div class="td_div_div">快捷导航</div>
                                                            <div class="td_div_div2">
                                                                <a href="">解决方案 </a><br>
                                                                <a href="/product">产品中心 </a><br>
                                                                <a href="">新闻资讯 </a><br>
                                                                <a href="/service">服务与支持 </a><br>
                                                                <a href="">加入我们 </a><br>
                                                                <a href="/connect">联系我们 </a><br>
                                                                <a href="">关于米洛 </a><br>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td class="td_top" width="20%">
                                                        <div>
                                                            <div class="td_div_div">产品中心</div>
                                                            <div class="td_div_div2">
                                                                <a href="/product/type智能软件产品">智能软件系统 </a><br>
                                                                <a href="/product/type系统产品">自动化系统产品 </a>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td class="td_top" width="20%">
                                                        <div>
                                                            <div class="td_div_div">新闻资讯</div>
                                                            <div class="td_div_div2">
                                                                <a href="">公司新闻 </a><br>
                                                                <a href="">行业资讯 </a>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td class="td_top" width="20%">
                                                        <div>
                                                            <div class="td_div_div">加入我们</div>
                                                            <div class="td_div_div2">
                                                                <a href="">员工风采 </a><br>
                                                                <a href="">企业招聘 </a>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td class="td_top" width="20%">
                                                        <div>
                                                            <div class="td_div_div">关于米洛</div>
                                                            <div class="td_div_div2">
                                                                <a href="">公司简介 </a><br>
                                                                <a href="">企业文化 </a><br>
                                                                <a href="">发展历程 </a><br>
                                                                <a href="">创新成果 </a><br>
                                                                <a href="">资质荣誉 </a>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </td>
                                <td class="td_top" width="14.4%">
                                    <div class="tr_td_div">
                                        <div class="div_img">
                                            <img src="../images/5e8c37d47a529.png" alt="">
                                        </div>
                                        <div class="div_span">
                                            <span>关注我们</span>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="div_li">
                    <hr>
                </div>
                <div class="in_box_bottom">
                    <div>
                        <table>
                            <tr>
                                <td class="td_top " width="85%">
                                    <div>
                                        Copyright © 2019 Goricher All Rights Reserved &nbsp;无锡米洛智能工业科技有限公司
                                    </div>
                                </td>
                                <td class="td_top footer_none" width="15%">
                                    <div class="box_bottom_right">
                                        <div class="right_margin">
                                            <a class="social-item" target="_blank" href="http://facebook.com">
                                                <i class="i_item icon-social-facebook"></i>
                                            </a>
                                            <a class="social-item" target="_blank" href="http://twitter.com">
                                                <i class="i_item icon-social-twitter"></i>
                                            </a>
                                            <a class="social-item" target="_blank" href="https://weibo.com">
                                                <i class="i_item icon-social-xinlang"></i>
                                            </a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="container_bottom">
            <div class="container_bottom_in">
                <a href="https://beian.miit.gov.cn/"> 苏ICP备17009825号-2 </a>
            </div>
        </div>
    </div>
</div>
<!-- 回到顶部 -->
<div class="toptel">
    <a href="#top" class="glyphicon glyphicon-arrow-up"></a>
</div>