<div class="header">
    <!-- 搜索栏 -->
    <div class="top_box">
        <div class="top_box_center clearfix">
            <div class="top_box_center_left">
                <img src="../images/5df7213cd4f8a.png">
                全国服务电话：0510-85911508
            </div>
            <div class="top_box_center_right">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="搜索内容">
                    <span class="input-group-btn">
                        <button class="btn btn-default glyphicon glyphicon-search" type="button"></button>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <!-- 导航条 -->
    <div class="ML_navbar">
        <div class="ML_navbar_mask"></div>
        <div class="col_right">
            <div class="small_manue">
                <ul class="small_manue_ul clearfix">
                    <li>
                        <a href="#">首页</a>
                    </li>
                    <li>
                        <a href="#">解决方案</a>
                    </li>
                    <li>
                        <div class="small_manue_li_div">
                            <a href="#">产品中心
                                <i class="glyphicon glyphicon-menu-down"></i>
                            </a>
                        </div>
                        <div class="submenu">
                            <ul>
                                <li class="small_manue_li_div">
                                    <div><a href="#">智能软件产品</a></div>
                                </li>
                                <li class="small_manue_li_div">
                                    <div><a href="#">高端装备</a></div>
                                </li>
                                <li class="small_manue_li_div border0">
                                    <div><a href="#">系统产品</a></div>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <div class="small_manue_li_div">
                            <a href="#">新闻资讯
                                <i class="glyphicon glyphicon-menu-down"></i>
                            </a>
                        </div>
                        <div class="submenu">
                            <ul>
                                <li class="small_manue_li_div">
                                    <div><a href="#">米洛动态</a></div>
                                </li>
                                <li class="small_manue_li_div border0">
                                    <div><a href="#">行业资讯</a></div>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <a href="#">服务与支持</a>
                    </li>
                    <li>
                        <div class="small_manue_li_div">
                            <a href="#">加入我们
                                <i class="glyphicon glyphicon-menu-down"></i>
                            </a>
                        </div>
                        <div class="submenu">
                            <ul>
                                <li class="small_manue_li_div">
                                    <div><a href="#">员工风采</a></div>
                                </li>
                                <li class="small_manue_li_div border0">
                                    <div><a href="#">企业招聘</a></div>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <a href="#">联系我们</a>
                    </li>
                    <li>
                        <div class="small_manue_li_div">
                            <a href="#">关于米洛
                                <i class="glyphicon glyphicon-menu-down"></i>
                            </a>
                        </div>
                        <div class="submenu">
                            <ul>
                                <li class="small_manue_li_div">
                                    <div><a href="#">公司简介</a></div>
                                </li>
                                <li class="small_manue_li_div">
                                    <div><a href="#">企业文化</a></div>
                                </li>
                                <li class="small_manue_li_div">
                                    <div><a href="#">发展历程</a></div>
                                </li>
                                <li class="small_manue_li_div">
                                    <div><a href="#">创新成果</a></div>
                                </li>
                                <li class="small_manue_li_div border0">
                                    <div><a href="#">资质荣誉</a></div>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <nav class="navbar ">
            <div class="container clearfix">
                <div class="navbar-header clearfix">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <div class="ML_logo">
                        <a href="#">
                            <img src="../images/5ee9762add34f.png">
                        </a>
                    </div>
                </div>
                <div class="collapse navbar-collapse pull-right " id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="#">首页</a></li>
                        <li><a href="#">解决方案</a></li>
                        <li>
                            <a href="#">产品中心</a>
                            <div class="submenu">
                                <ul>
                                    <li>
                                        <div>
                                            <a href="#">智能软件产品</a>
                                        </div>
                                    </li>
                                    <li>
                                        <div>
                                            <a href="#">智能软件产品</a>
                                        </div>
                                    </li>
                                    <li>
                                        <div>
                                            <a href="#">智能软件产品</a>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <a href="#">新闻资讯</a>
                            <div class="submenu">
                                <ul>
                                    <li>
                                        <div>
                                            <a href="#">米洛动态</a>
                                        </div>
                                    </li>
                                    <li>
                                        <div>
                                            <a href="#">行业资讯</a>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li><a href="#">服务与支持</a></li>
                        <li>
                            <a href="#">加入我们</a>
                            <div class="submenu">
                                <ul>
                                    <li>
                                        <div>
                                            <a href="#">员工风采</a>
                                        </div>
                                    </li>
                                    <li>
                                        <div>
                                            <a href="#">企业招聘</a>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li><a href="#">联系我们</a></li>
                        <li>
                            <a href="#">关于米洛</a>
                            <div class="submenu">
                                <ul>
                                    <li>
                                        <div>
                                            <a href="#">公司简介</a>
                                        </div>
                                    </li>
                                    <li>
                                        <div>
                                            <a href="#">企业文化</a>
                                        </div>
                                    </li>
                                    <li>
                                        <div>
                                            <a href="#">发展历程</a>
                                        </div>
                                    </li>
                                    <li>
                                        <div>
                                            <a href="#">创新成果</a>
                                        </div>
                                    </li>
                                    <li>
                                        <div>
                                            <a href="#">资质荣誉</a>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</div>